<body>
    <main class="principal">
    <div class="barraSuperior">
        <a href="/">
            <img class="barraSuperior-logo" src="/logo/logo2d.png">
        </a>
        <nav class="barraSuperior-navbar">
                <button><i class="fa fa-bars"></i></button>
                    <ul class="barraSuperior-navlist">
                        <li class="barraSuperior-navlist-links">Productos
                            <ul class="barraSuperior-navlist-links-submenu">
                                <li><a href="/producto/1">Tu página web</a></li>
                                <li class="linkTienda"><a href="/producto/2">Tu tienda web</a></li>
                            </ul>
                        </li>
                        <li class="barraSuperior-navlist-links"><a href="#nosotros">Sobre nosotros</a></li>
                        <li class="barraSuperior-navlist-links"><a href="#contacto">Contacto</a></li>
                        <li class="barraSuperior-navlist-links"><a href="#faqs">FAQ's</a></li>
                    </ul>                
        </nav>
        <div class="barraSuperior-navExtra">
            <div class="barraSuperior-navExtra-usuario">
                <a class="barraSuperior-navExtra-usuario-registro" href="/users/registro">Registrarse</a>
                <a class="barraSuperior-navExtra-usuario-login" href="/users/login">Iniciar Sesión</a>
            </div>
            <a href="/carrito"><img class="barraSuperior-navExtra-carrito" src="/icons/logo-color-borde.svg"></a>
        </div>
    </div>