<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="stylesheet" href="/stylesheets/listado-productos-style.css">
    <%- include('../partials/head') %>
</head>

<%- include('../partials/navbar') %>

<h2>DETALLES DE PRODUCTO PRUEBA</h2>


<%- include('../partials/footer') %>