<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/stylesheets/productos-crear-o-editar.css">
</head>

<%- include('../partials/navbar') %>



<div class="creadorContainer">
    <h1>Creador de productos</h1>
    <form action="/" method="get">
        <label for="crearEditar">¿Qué vas a hacer con el producto?</label>
        <select name="crearEditar" id="">
            <option value="crear">Crear</option>
            <option value="editar">Editar</option>
        </select>
        <label for="nombre">Elegí el nombre para tu producto:</label>
        <input type="text" name="nombre" value="Escribí aquí el nombre">
        <label for="descripcionProducto">Breve descripción del producto:</label>
        <textarea name="descripcionProducto" id="" cols="30" rows="10"></textarea>
        <label for="imagen">Subí la imágen que describe el producto.</label>
        <input type="file" name="imagen">
        <label for="categoriaProducto">Elegí la categoría del producto:</label>
        <select name="categoriaProducto" id="">
            <option value="tiendaWeb">Tienda Web</option>
            <option value="paginaWeb">Página Web</option>
        </select>
        <label for="subCategoriaProducto">Elegí la sub-categoría del producto:</label>
        <select name="subCategoriaProducto" id="">
            <option value="subCatDiamante">Diamante</option>
            <option value="subCatPlatino">Platino</option>
            <option value="subCatBasic">Basic</option>
        </select>
        <label for="precio">¿Qué precio tiene el producto?</label>
        <input type="number" name="precio" class="precio">
        <ul>
            <h2>¿Qué beneficios incluye el producto?</h2>
            <li>
                <input type="checkbox" name="SEO" value="seo">
                <label for="SEO">Incluye Plan SEO</label>
                
            </li>
            <li>
                <input type="checkbox" name="dominio" value="dominioPersonal">
                <label for="dominioWeb">Incluye dominio web personalizado</label>
            </li>
            <li>
                <input type="checkbox" name="carrito" value="carritoCompras">
                <label for="carrito">Incluye carrito para compras</label>
            </li>
            <li>
                <input type="checkbox" name="IDA" value="IDA">
                <label for="IDA">Incluye servicio IDA</label>
            </li>
            <li>
                <input type="checkbox" name="atencionPersonalizada" value="atencionPersonalizada">
                <label for="atencionPersonalizada">Incluye atención personalizada</label>
            </li>
            <li>
                <input type="checkbox" name="logos" value="logos">
                <label for="logos">Incluye Creador de Logos</label>
            </li>
            <li>
                <input type="checkbox" name="corvid" value="corvid">
                <label for="corvid">Incluye Corvid para aplicaciones profesionales</label>
            </li>
            <li>
                <input type="checkbox" name="plantillas" value="plantillas">
                <label for="plantillas">Incluye acceso a las plantillas de diseño</label>
            </li>
            <li>
                <input type="checkbox" name="responsive" value="responsiveSi">
                <label for="responsive">Incluye herramientas para Web Responsive Design</label>
            </li>
            <li>
                <input type="checkbox" name="hosting" value="hosting">
                <label for="hosting">Incluye servicio de hosting</label>
            </li>
            <li>
                <label for="secciones">¿Cuantas secciones de página incluye el producto?</label>
                <select name="secciones" id="">
                    <option value="1sec">1 a 5 secciones</option>
                    <option value="2sec">6 a 10 secciones</option>
                    <option value="3sec">11 a 15 secciones</option>
                    <option value="4sec">16 a 20 secciones</option>
                    <option value="5sec">Más de 20 secciones</option>
                </select>
            </li>
            <li>
                <label for="beneficiosExtra">Nombra los beneficios extra que quieras agregarle a tu producto:</label>
                <textarea name="beneficiosExtra" id="" cols="30" rows="10"></textarea>
            </li>
        </ul>
        <button type="submit" class="submit">Enviar</button>
        <button type="reset" class="reset">Borrar campos</button>
    </form>
</div>

<%- include('../partials/footer') %>