<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="stylesheet" href="/stylesheets/carrito-style.css">
    <%- include('./partials/head') %>
</head>

<%- include('./partials/navbar') %>

<div class="contenedor">
    <div class="contenedor-producto">
        <h2>Tu producto</h2>
        <div class="contenedor-producto-elegido">
            <h3 class="elegido-titulo"> Lo sentimos! No has elegido ningún producto.</h3>
        </div>
    </div>

    <div class="contenedor-precios"> 
     
    <h2>Detalles del precio</h2>
    <div class="contenedor-precios-total">
        <div class="contenedor-precios-texto">
            <h3 class="titulo-suscripcion"> Suscripción:</h3>
            <h3 class="titulo-precio">Precio:</h3>
            <h3 class="titulo-descuento">Descuento:</h3>
            <h3 class="titulo-total">Total:</h3>
        </div>
        <div class="contenedor-precios-contenido">
            <h3 class="titulo-suscripcion">--</h3>
            <h3 class="titulo-precio">--</h3>
            <h3 class="titulo-descuento">--</h3>
            <h3 class="titulo-total">--</h3>
        </div>
<<<<<<< HEAD
    </div>
    </div> 
</div>

        
=======
    </div>   
>>>>>>> fee452ecc5819e96e920bb9e7cf7d9a16eb4aed1
        
   
        


<div class="banner-pago">
    <img src="/images/logo-tarjetas.png" alt="imagen de pagos" class="banner-imagen"> 
</div>


<div class="datos">
<div class="pago-descripcion">
        <h2>Formas y medios de pago</h2>
      <form action="carrito.html" method="GET">
<<<<<<< HEAD

        <p><label for="">Elige el medio de pago que prefieras</label></p>
        <p><input type="radio" name="pago" value="d">Debito</p>
        <p><input type="radio" name="pago" value="c">Credito</p>
        <p><input type="radio" name="pago" value="p">Pago facil</p>
        <p><input type="radio" name="pago" value="r">Rapi pado</p>
=======
        <p><label for="">Elíge el medio de pago que prefieras</label></p>
        <p><input type="radio" name="pago" value="d">Débito</p>
        <p><input type="radio" name="pago" value="c">Crédito</p>
        <p><input type="radio" name="pago" value="p">Pago fácil</p>
        <p><input type="radio" name="pago" value="r">Rapi pago</p>
>>>>>>> fee452ecc5819e96e920bb9e7cf7d9a16eb4aed1
        <p><input type="radio" name="pago" value="m">Mercado pago</p>
    </form>
    </div>


    <div class="datos-tarjeta">
    <form action="carrito.html" method="GET">
        <p><label for="pais"> Pais</label></p> 
        <p><input type="text" id="pais" name="pais"></p>
        <p><label for="ciudad"> Ciudad</label></p>
        <p><input type="text" id="ciudad" name="ciudad"></p>
        <p><label for="">Seleccione tarjeta: </label></p>
            <select name="tarjeta" id="">
                <option value="vi">Visa</option>
                <option value="mc">Master card</option>
                <option value="am">American express</option>
                <option value="ts">Tarjeta shopping</option>
                <option value="ac">Argencard</option>
                <option value="ca">Cabal</option>
                <option value="na">Nativa</option>
                <option value="pn">Provincia net</option>
                <option value="ba">Banelco</option>
                <option value="li">Link</option>
                <option value="na">Naranja</option>

            </select>
            

<<<<<<< HEAD
        
        <p><label for="numero tarjeta">Numero tarjeta </label></p>
        <p><input type="number" id="numero tarjeta" name="numero tarjeta"></p>
        <p><label for="codigo de seguridad"> Codigo de seguridad</label></p>
        <p><input type="password" id="codigo de seguridad" name="codigo de seguridad"></p>
        <P><label for="fecha de vencimiento">Fecha de vencimineto</label></P>
        <p><input tipe="number" id="fecha de nacimiento" placeholder="dia/mes/año"></p>
=======
        <p><label for="numero tarjeta">Número de tarjeta </label></p>
        <p><input type="numero tarjeta" id="numero tarjeta" name="numero tarjeta"></p>
        <p><label for="codigo de seguridad"> Código de seguridad</label></p>
        <p><input type="codigo de seguridad" id="codigo de seguridad" name="codigo de seguridad"></p>
>>>>>>> fee452ecc5819e96e920bb9e7cf7d9a16eb4aed1
        <p><label for="cuotas"> Cantidad de cuotas: </label></p> 
        <select name="cuotas" id="">
        <option value="">1</option>
        <option value="">3</option>
        <option value="">6</option>
        <option value="">9</option>
        <option value="">12</option>
    </select>
        <p><label for="cupón de descuento">Cupón de descuento </label></p> 
        <p><input type="cupón de descuento" id="cupón de descuento" name="cupón de descuento"></p>
        
        <button>Pagar</button> 
    </form>
</div>
    </div>

        
<%- include('./partials/footer') %>
    
