<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="stylesheet" href="/stylesheets/producto-style.css">
    <%- include('./partials/head') %>
</head>

<%- include('./partials/navbar') %>

<section class="banner">
    <a href="/"><img src="/images/tutiendaweb-banner-sd.gif"></a>
</section>

<section class="bannerEmpeza">

    <strong><h2 class="bannerEmpeza-titulo">El lugar perfecto para crear tu página web profesional</h2></strong>

    <form action="#productos" method="GET">

        <button>
            Empezá Ya
        </button>

    </form>

</section>

<section class="presenciaOnline">

    <article class="presenciaOnline-articlePrincipal">

        <i class="fas fa-hammer"></i>

        <h2>
            Construye una presencia online única
        </h2>

        <p>Para hacer tu propia página web sigue estos pasos</p>

    </article>

    <div class="presenciaOnline-containerArticle">

        <article class="presenciaOnline-article articleBorder1">

            <h3>Personalizá tu sitio web</h3>

            <p>Elegí una plantilla y personalizala como quieras, o responde algunas preguntas y obtené una página web gratis y exclusiva de forma automática</p>

        </article>

        <article class="presenciaOnline-article articleBorder2">

            <h3>Agregá funciones avanzadas</h3>

            <p>Creá un blog, hacé una página de noticias o armá tu presentación personal web para potenciar tu trabajo. Siempre podés agregar más funcionalidad a medida que crecés. No hay límites para tu creatividad ni tu crecimiento</p>

        </article>

        <article class="presenciaOnline-article articleBorder3">

            <h3>Web Responsive Design</h3>

            <p>Te dejamos todas las herramientas necesarias para que crees una página web que responda de manera automática y que se vea bien en los diferentes tipos de pantalla.</p>

        </article>

        <article class="presenciaOnline-article articleBorder4">

            <h3>Optimizá para los buscadores</h3>

            <p>Te ayudamos en tu plan de SEO para que todo el mundo te encuentre en Google. Respondé algunas preguntas sobre tu sitio web, ubicación y palabras clave, y recibí un plan de SEO personalizado para destarcarte online.</p>

        </article>

    </div>

    <article class="presenciaOnline-articleImg">

        <img src="/images/2.png" alt="">

    </article>

    <form action="#productos" method="GET" class="presenciaOnline-form">

        <button>
            Empezá Ya >
        </button>

    </form>

</section>

<section class="banner-versiones">

    <div class="banner-versiones-contenedorImagenResponsive">
        <img src="/images/web-pc2.png" alt="imagen de un monitor de pc con una foto adentro" class="imagen-escritorio spin-1">
        <img src="/images/web-mobile.png" alt="imagen de una pantalla de celular con una foto adentro" class="imagen-mobile spin-2">
    </div>
    <strong><h3>Te dejamos todas las herramientas para que tu pantalla se vea correctamente en <br>todos tus dispositivos!</h3></strong>


</section>

<article class="disenoBlanco">
    
    <i class="fas fa-plus"></i>

    <h2 class="disenoBlanco-titulo">
        La libertad de crear la página web que quieras
    </h2>

    <p class="disenoBlanco-parrafo">
        Disena y creá tu propia página web con calidad profesional. Ya sea que estés mostrando tu trabajo o comenzando un blog, puedes hacerlo todo con el editor de páginas web de Tu Tienda Web.
    </p>

   <form action="#productos" method="GET" class="disenoBlanco-form">

        <button>
            Empezá Ya >
        </button>

    </form>

</article>

<article class="disenoAzul">

    <i class="fas fa-user-edit"></i>

    <h2 class="disenoAzul-titulo">
        Editor simple y profesional de Tu Tienda Web: <br> <em style="font-size: 0.8em;"> Libertad total de diseño fácil de aplicar</em>
    </h2>

    <p class="disenoAzul-parrafo">
        Comenzá desde cero o elegí entre una de nuestras plantillas hechas por diseñadores profesionales para crear tu propio sitio. Con el sistema de arrastrar y soltar más innovador del mercado, podés personalizar o cambiar cualquier cosa. Hacé que tu sitio web cobre vida con fondos de video, efectos de desplazamiento y animaciones. Con el editor de <em>Tu Tienda Web</em> podés crear una hermosa página web profesional sin ayuda de nadie y sin pagar a terceros.
    </p>

    <form action="#productos" method="GET" class="disenoAzul-form">

        <button>
            Empezá Ya >
        </button>

    </form>

</article>

<article class="disenoBlanco">

    <i class="fas fa-brain"></i>

    <h2 class="disenoBlanco-titulo">
        Tu Tienda Web IDA:
        tu página web en minutos
    </h2>

    <p class="disenoBlanco-parrafo">
        Respondé algunas preguntas simples y nuestra inteligencia de diseño artificial (IDA) construirá instantáneamente una página web a tu medida, con textos e imágenes personalizados. Elegí tu estilo, cambiá el diseño y agregá las funciones que necesites. Cuando estés listo, ¡estarás <em>"live"</em> con un solo click!
    </p>

    <form action="#productos" method="GET" class="disenoBlanco-form">

        <button>
            Empezá Ya >
        </button>

    </form>

</article>

<section class="banner-descuento">

    <a href="http://localhost:3000/registro">
        <img class="imagen-descuento" src="/icons/descuento-blanco-negro.png"    alt="imagen de descuento">
        <p class="texto-descuento">Registrate antes del 31 de diciembre del 2020 y obtené un  25% de descuento durante 3 meses.</p>
    </a>

</section>

<article class="disenoBlanco">

    <i class="fas fa-hammer"></i>
    
    <h2 class="disenoBlanco-titulo">
        Creador de logos
    </h2>

    <p class="disenoBlanco-parrafo">
        Diseñá y creá un logo profesional y construye la presencia online de tu marca
    </p>

    <form action="#productos" method="GET" class="disenoBlanco-form">

        <button>
            Empezá Ya >
        </button>

    </form>

</article>

<article class="disenoAzul">

    <i class="fas fa-home"></i>

    <h2 class="disenoAzul-titulo">
        Corvid de Tu Tienda Web: Plataforma de desarrollo abierto
    </h2>

    <p class="disenoAzul-parrafo">
        Creá aplicaciones web profesionales con serverless computing (arquitectura sin servidor) y codificación sin complicaciones. Administrá todo tu contenido desde base de datos integradas, agregá tu propio codigo IDE incorporado o trabajá en tu propio entorno y conectate a cientos de API. Además, obtené total libertad de diseño con el editor de <em>Tu Tienda Web</em> y las aplicaciones empresariales optimizadas.
    </p>

    <form action="#productos" method="GET" class="disenoAzul-form">

        <button>
            Empezá Ya >
        </button>

    </form>

</article>

<section class="productos" id="productos">
    <h2>¡Elegí una de nuestras 3 suscripciones y empezá a crear la página de tus sueños!</h2>
    <form action="http://localhost:3000/carrito" method="GET" class="contenedor-productos">
        <button class="contratar">
            <article class="productos-articulo">      
                <img class="productos-img" src="/icons/web-color-borde.png" alt="imagen de una tienda"><br>
                <div class="contenedorMedalla">
                    <img class="medalla" src="/images/plan-oro.png" alt="imagen de una medalla de oro">
                </div>
                <h3 class="tituloSuscripcionOro">Suscripción oro</h3>
                <ul>Incluye:
                    <li>Dominio Web con el nombre de tu marca</li>
                    <li>Atención personalizada de nuestro equipo de marketing</li>
                    <li>Plan SEO para posicionarte mejor en Google</li>
                    <li>Carrito de compras</li>
                    <li>Todo lo que incluyen los planes anteriores</li>
                </ul>
                <span>Precio final por mes: $1200</span><br>
                <span class="span1">Clickeá en la imagen para contratar el servicio</span>
            </article>
        </button>
    </form>
    <form action="http://localhost:3000/carrito" method="GET" class="contenedor-productos">
        <button class="contratar">
            <article class="productos-articulo">
                <img class="productos-img" src="/icons/web-color-borde.png" alt="imagen de una tienda"><br>
                <div>
                    <img class="medalla" src="/images/plan-plata.png" alt="imagen de una medalla de plata">
                </div>
                <h3 class="tituloSuscripcionPlata">Suscripción plata</h3>
                <ul>Incluye:
                    <li>Servicio de Inteligencia de diseño artificial (IDA)</li>
                    <li>Servicio web Corvid para aplicaciones web</li>
                    <li>Creador de logos profesional</li>
                    <li>Todo lo que incluyen las suscripciones anteriores</li>
                </ul>
                <span>Precio final por mes: $600</span><br>
                <span class="span1">Clickeá en la imagen para contratar el servicio</span>
            </article>
        </button>
    </form>
    <form action="http://localhost:3000/carrito" method="GET" class="contenedor-productos">
        <button class="contratar">
            <article class="productos-articulo">
                <img class="productos-img" src="/icons/web-color-borde.png" alt="imagen de una tienda"><br>
                <div>
                    <img class="medalla" src="/images/plan-bronce.png" alt="imagen de una medalla de bronce">
                </div>
                <h3 class="tituloSuscripcionBronce">Suscripción bronce</h3>
                <ul>Incluye:
                    <li>Acceso a todas nuestras plantillas y accesorios de diseño web</li>
                    <li>Herramientas para diseño adaptativo</li>
                    <li>Hosting gratuito</li>
                </ul>
                <span>Precio final por mes: GRATIS</span><br>
                <span class="span1">Clickeá en la imagen para contratar el servicio</span>
            </article>
        </button>
    </form>
</section>

<%- include('./partials/footer') %>