<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="stylesheet" href="/stylesheets/producto2-style.css">
    <%- include('./partials/head') %>
</head>

<%- include('./partials/navbar') %>

        <section class="banner">
            <a href="/"><img src="/images/tutiendaweb-banner-sd.gif"></a>
        </section>
    
        <section class="banner1">
            <h2>
                Un catálogo. Todos los canales de venta.
            </h2>

            <p>
                Conectá tu catálogo con <em>Tu Tienda Web</em> y no te pierdas ni una venta.
            </p>
            <form action="#contenedorProductos" method="GET">
                <button>
                    Empezá ya
                </button>
            </form>
        </section>

        <section class="disenoBlanco">
            <article class="disenoBlanco-article1">
                <h2 class="disenoBlanco-article1-tituloPrincipal">
                    Todo lo que tu negocio necesita para vender
                </h2>
            </article>
            <div class="disenoBlanco-containerArticle2">
                <article class="disenoBlanco-article2">
                    <h3 class="disenoBlanco-article2-titulo">
                        <i class="fas fa-tasks"></i> <br>
                        Gestioná tus productos
                    </h3>
                    <p  class="disenoBlanco-article2-parrafo">
                        Subí tus productos y actualizá el stock de forma simple
                    </p>
                </article>
                <article class="disenoBlanco-article2">
                    <h3 class="disenoBlanco-article2-titulo">
                        <i class="fas fa-robot"></i> <br>
                        Automatizá tus ventas
                    </h3>
                    <p  class="disenoBlanco-article2-parrafo">
                        Activá medios de pago para cobrar de forma segura.
                    </p>
                </article>
                <article class="disenoBlanco-article2">
                    <h3 class="disenoBlanco-article2-titulo">
                        <i class="fas fa-truck"></i> <br>
                        Enviá tus pedidos
                    </h3>
                    <p  class="disenoBlanco-article2-parrafo">
                        Tu tienda conectada con los medios de envío que necesitas
                    </p>
                </article>
                <article class="disenoBlanco-article2">
                    <h3 class="disenoBlanco-article2-titulo">
                        <i class="fas fa-money-bill-wave"></i> <br>
                        Vendé en más canales
                    </h3>
                    <p  class="disenoBlanco-article2-parrafo">
                            integrá tus productos con instagram, Facebook o con tu local
                    </p>
                </article>
            </div>
            <article class="disenoBlanco-articleImg">
                <img src="/images/My-Support-Team-63-Shopper.png" alt="">
            </article>
            <form action="#contenedorProductos" method="GET"   class="disenoBlanco-form">
                <button>
                    Empezá ya
                </button>
            </form>
        </section>

        <section class="bannerCampera">
            <img src="/images/banner-tienda-web.jpg" alt="imagen promocional de la tienda web con una campera" class="bannerCampera-img">
        </section>

        <section class="disenoAzul">
            <article class="disenoAzul-article1">
                <h2 class="disenoAzul-article1-tituloPrincipal">
                    Tu marca. Tu tienda.
                </h2>
            </article>
            <article class="disenoAzul-articleImg">
                <img src="/images/tumarca-tutienda.jpg" alt="">
            </article>
            <div class="disenoAzul-containerArticle2">
                <article class="disenoAzul-article2">
                    <h3 class="disenoAzul-article2-titulo">
                        <i class="fas fa-palette"></i> <br>
                        Tienda de diseños
                    </h3>
                    <p  class="disenoAzul-article2-parrafo">
                        Tu marca es única, tu tienda también. Elegí un diseño y customizalo para que tus productos se luzcan.
                    </p>
                </article>
                <article class="disenoAzul-article2">
                    <h3 class="disenoAzul-article2-titulo">
                        <i class="fas fa-network-wired"></i> <br>
                        Tu tienda. Tu dominio.
                    </h3>
                    <p  class="disenoAzul-article2-parrafo">
                        Conectá tus propios dominios a tu tienda.
                    </p>
                </article>
                <article class="disenoAzul-article2">
                    <h3 class="disenoAzul-article2-titulo">
                        <i class="fas fa-truck"></i> <br>
                        Gestión de envíos y pagos simplificada
                    </h3>
                    <p  class="disenoAzul-article2-parrafo">
                        Cobrá por tus ventas y enviá tus pedidos de forma rápida y práctica.
                    </p>
                </article>
            </div>
            <form action="#contenedorProductos" method="GET"   class="disenoAzul-form">
                <button>
                    Empezá ya
                </button>
            </form>
        </section>

        <section class="disenoBlanco">
            <article class="disenoBlanco-article1">
                <h2 class="disenoBlanco-article1-tituloPrincipal">
                    Tus locales, conectados.
                </h2>
            </article>
            <div class="disenoBlanco-containerArticle2">
                <article class="disenoBlanco-article2">
                    <h3 class="disenoBlanco-article2-titulo">
                        <i class="fas fa-align-center"></i> <br>
                        Centralizá todas tus ventas
                    </h3>
                    <p  class="disenoBlanco-article2-parrafo">
                        Cargá, cobrá y enviá tus pedidos sin importar donde vendas.
                    </p>
                </article>
            </div>
            <article class="disenoBlanco-articleImg">
                <img src="/images/tus-locales-conectados.jpg" alt="">
            </article>
            <form action="#contenedorProductos" method="GET"   class="disenoBlanco-form">
                <button>
                    Empezá ya
                </button>
            </form>
        </section>

        <section class="disenoAzul">
            <article class="disenoAzul-article1">
                <h2 class="disenoAzul-article1-tituloPrincipal">
                    Integración con los mayores marketplaces
                </h2>
            </article>
            <article class="disenoAzul-articleImg">
                <img src="/images/integracion-con-los-mayores-marketplaces.jpg" alt="">
            </article>
            <div class="disenoAzul-containerArticle2">
                <article class="disenoAzul-article2">
                    <h3 class="disenoAzul-article2-titulo">
                        <i class="fab fa-google"></i> <br>
                        Google Shopping
                    </h3>
                    <p  class="disenoAzul-article2-parrafo">
                        Con el comparador de precios de Google vas a poder mostrar todos tus productos en los resultados de google.
                    </p>
                </article>
                <article class="disenoAzul-article2">
                    <h3 class="disenoAzul-article2-titulo">
                        <i class="fab fa-amazon"></i> <br>
                        MercadoLibre y Amazon
                    </h3>
                    <p  class="disenoAzul-article2-parrafo">
                        Integración con los 2 marketplaces más grandes de la región. Lo que mostrás en Tu Tienda Web lo mostrás también en MercadoLibre y Amazon.
                    </p>
                </article>
            </div>
            <form action="#contenedorProductos" method="GET"   class="disenoAzul-form">
                <button>
                    Empezá ya
                </button>
            </form>
        </section>

        <section class="disenoBlanco" id="vendeEnMasCanales">
            <article class="disenoBlanco-article1">
                <h2 class="disenoBlanco-article1-tituloPrincipal">
                    Tus seguidores.
                    Tus clientes.
                </h2>
            </article>
            <div class="disenoBlanco-containerArticle2">
                <article class="disenoBlanco-article2">
                    <h3 class="disenoBlanco-article2-titulo">
                        <i class="fab fa-instagram"></i> <br>
                        Instagram Shop
                    </h3>
                    <p  class="disenoBlanco-article2-parrafo">
                        Conectá tus productos con Instagram y aumentá el tráfico de tu tienda online.
                    </p>
                </article>
                <article class="disenoBlanco-article2">
                    <h3 class="disenoBlanco-article2-titulo">
                        <i class="fab fa-whatsapp"></i> <br>
                        Whatsapp
                    </h3>
                    <p  class="disenoBlanco-article2-parrafo">
                        Compartí tus productos directamente dentro de whatsapp con el teclado TuTiendaWeb.
                    </p>
                </article>
                <article class="disenoBlanco-article2">
                    <h3 class="disenoBlanco-article2-titulo">
                        <i class="fab fa-facebook"></i> <br>
                        Facebook Store
                    </h3>
                    <p  class="disenoBlanco-article2-parrafo">
                        Aumenta tus ventas sincronizando tus productos con tu página de Facebook.
                    </p>
                </article>
            </div>
            <article class="disenoBlanco-articleImg">
                <img src="/images/tus-seguidores-tus-clientes.jpg" alt="">
            </article>
            <form action="#contenedorProductos" method="GET"   class="disenoBlanco-form">
                <button>
                    Empezá ya
                </button>
            </form>
        </section>

        <section class="contenedorProductos" id="contenedorProductos">
                <h2>¡Elegí una de nuestras suscripciones y potenciá tu negocio digitalmente!</h2>
                <img class="productos-img" src="/icons/store-color.png" alt="imagen de una tienda">
                        <table>
                            <tr>
                                <th>Beneficio</th>
                                <th> 
                                    <div class="contenedorMedalla">
                                        <img class="medalla" src="/images/plan-oro.png" alt="imagen de una medalla de oro">
                                    </div>
                                </th>
                                <th>
                                    <div>
                                        <img class="medalla" src="/images/plan-plata.png" alt="imagen de una medalla de plata">
                                    </div>
                                </th>
                                <th>
                                    <div>
                                        <img class="medalla" src="/images/plan-bronce.png" alt="imagen de una medalla de bronce">
                                    </div>
                                </th>
                            </tr>
                            <tr>
                                <td class="beneficio">
                                    Costo por transacción
                                </td>
                                <td>
                                    0,5%
                                </td>
                                <td>
                                    1%
                                </td>
                                <td>
                                    2%
                                </td>
                            </tr>
                            <tr>
                                <td class="beneficio">
                                    Productos, visitas y ventas ilimitados
                                </td>
                                <td>
                                    <i class="fas fa-check"></i>
                                </td>
                                <td>
                                    <i class="fas fa-check"></i>
                                </td>
                                <td>
                                    <i class="fas fa-check"></i>
                                </td>
                            </tr>
                            <tr>
                                <td class="beneficio">
                                    Diseños personalizables
                                </td>
                                <td>
                                    <i class="fas fa-check"></i>
                                </td>
                                <td>
                                    <i class="fas fa-check"></i>
                                </td>
                                <td>
                                    <i class="fas fa-check"></i>
                                </td>
                            </tr>
                            <tr>
                                <td class="beneficio">
                                    Integración con medios de pago
                                </td>
                                <td>
                                    <i class="fas fa-check"></i>
                                </td>
                                <td>
                                    <i class="fas fa-check"></i>
                                </td>
                                <td>
                                    <i class="fas fa-check"></i>
                                </td>
                            </tr>
                            <tr>
                                <td class="beneficio">
                                    Integración con medios de envío
                                </td>
                                <td>
                                    <i class="fas fa-check"></i>
                                </td>
                                <td>
                                    <i class="fas fa-check"></i>
                                </td>
                                <td>
                                    <i class="fas fa-check"></i>
                                </td>
                            </tr>
                            <tr>
                                <td class="beneficio">
                                    Gestión de productos y manejo de stock
                                </td>
                                <td>
                                    <i class="fas fa-check"></i>
                                </td>
                                <td>
                                    <i class="fas fa-check"></i>
                                </td>
                                <td>
                                    <i class="fas fa-check"></i>
                                </td>
                            </tr>
                            <tr>
                                <td class="beneficio">
                                    Configuración de dominio propio
                                </td>
                                <td>
                                    <i class="fas fa-check"></i>
                                </td>
                                <td>
                                    <i class="fas fa-check"></i>
                                </td>
                                <td>
                                    <i class="fas fa-check"></i>
                                </td>
                            </tr>
                            <tr>
                                <td class="beneficio">
                                    Seguimiento de estadísticas con Google Analytics
                                </td>
                                <td>
                                    <i class="fas fa-check"></i>
                                </td>
                                <td>
                                    <i class="fas fa-check"></i>
                                </td>
                                <td>
                                    <i class="fas fa-check"></i>
                                </td>
                            </tr>
                            <tr>
                                <td class="beneficio">
                                    Configuración de códigos de tracking y conversión
                                </td>
                                <td>
                                    <i class="fas fa-check"></i>
                                </td>
                                <td>
                                    <i class="fas fa-check"></i>
                                </td>
                                <td>
                                    <i class="fas fa-check"></i>
                                </td>
                            </tr>
                            <tr>
                                <td class="beneficio">
                                    Hosting y certificado SSL incluido
                                </td>
                                <td>
                                    <i class="fas fa-check"></i>
                                </td>
                                <td>
                                    <i class="fas fa-check"></i>
                                </td>
                                <td>
                                    <i class="fas fa-check"></i>
                                </td>
                            </tr>
                            <tr>
                                <td class="beneficio">
                                    Aplicación de <em>Tu Tienda Web</em> para Android e iOS
                                </td>
                                <td>
                                    <i class="fas fa-check"></i>
                                </td>
                                <td>
                                    <i class="fas fa-check"></i>
                                </td>
                                <td>
                                    <i class="fas fa-check"></i>
                                </td>
                            </tr>
                            <tr>
                                <td class="beneficio">
                                    Carritos abandonados
                                </td>
                                <td>
                                    <i class="fas fa-check"></i>
                                </td>
                                <td>
                                    <i class="fas fa-check"></i>
                                </td>
                                <td>
                                    <i class="fas fa-check"></i>
                                </td>
                            </tr>
                            <tr>
                                <td class="beneficio">
                                    Configuración de puntos de entrega
                                </td>
                                <td>
                                    <i class="fas fa-check"></i>
                                </td>
                                <td>
                                    <i class="fas fa-check"></i>
                                </td>
                                <td>
                                    <i class="fas fa-check"></i>
                                </td>
                            </tr>
                            <tr>
                                <td class="beneficio">
                                    Carga y actualización masiva de los textos de productos
                                </td>
                                <td>
                                    <i class="fas fa-check"></i>
                                </td>
                                <td>
                                    <i class="fas fa-check"></i>
                                </td>
                                <td>
                                    <i class="fas fa-check"></i>
                                </td>
                            </tr>
                            <tr>
                                <td class="beneficio">
                                    Teclado Tu Tienda Web
                                </td>
                                <td>
                                    <i class="fas fa-check"></i>
                                </td>
                                <td>
                                    <i class="fas fa-check"></i>
                                </td>
                                <td>
                                    <i class="fas fa-check"></i>
                                </td>
                            </tr>
                            <tr>
                                <td class="beneficio">
                                    Soporte via email
                                </td>
                                <td>
                                    <i class="fas fa-check"></i>
                                </td>
                                <td>
                                    <i class="fas fa-check"></i>
                                </td>
                                <td>
                                    <i class="fas fa-check"></i>
                                </td>
                            </tr>
                            <tr>
                                <td class="beneficio">
                                    Promociones 2x1 y 3x2
                                </td>
                                <td>
                                    <i class="fas fa-check"></i>
                                </td>
                                <td>
                                    <i class="fas fa-check"></i>
                                </td>
                                <td>
                                    <i class="fas fa-check"></i>
                                </td>
                            </tr>
                            <tr>
                                <td class="beneficio">
                                    Cupones de descuento
                                </td>
                                <td>
                                    <i class="fas fa-check"></i>
                                </td>
                                <td>
                                    <i class="fas fa-check"></i>
                                </td>
                                <td>
                                    <i class="fas fa-check"></i>
                                </td>
                            </tr>
                            <tr>
                                <td class="beneficio">
                                    Personalización del SEO
                                </td>
                                <td>
                                    <i class="fas fa-check"></i>
                                </td>
                                <td>
                                    <i class="fas fa-check"></i>
                                </td>
                                <td>
                                    <i class="fas fa-check"></i>
                                </td>
                            </tr>
                            <tr>
                                <td class="beneficio">
                                    Estadísticas avanzadas de tu negocio
                                </td>
                                <td>
                                    <i class="fas fa-check"></i>
                                </td>
                                <td>
                                    <i class="fas fa-check"></i>
                                </td>
                                <td>
                                    <i class="fas fa-check"></i>
                                </td>
                            </tr>
                            <tr>
                                <td class="beneficio">
                                    Instagram shopping, Facebook Store y Google Shopping
                                </td>
                                <td>
                                    <i class="fas fa-check"></i>
                                </td>
                                <td>
                                    <i class="fas fa-check"></i>
                                </td>
                                <td>
                                    <i class="fas fa-check"></i>
                                </td>
                            </tr>
                            <tr>
                                <td class="beneficio">
                                    Diseño 100% flexible (via HTML, CSS y JavaScript)
                                </td>
                                <td>
                                    <i class="fas fa-check"></i>
                                </td>
                                <td>
                                    <i class="fas fa-check"></i>
                                </td>
                                <td>
                                    <i class="fas fa-times"></i>
                                </td>
                            </tr>
                            <tr>
                                <td class="beneficio">
                                    Soporte vía Whatsapp a partir del primer pago
                                </td>
                                <td>
                                    <i class="fas fa-check"></i>
                                </td>
                                <td>
                                    <i class="fas fa-check"></i>
                                </td>
                                <td>
                                    <i class="fas fa-times"></i>
                                </td>
                            </tr>
                            <tr>
                                <td class="beneficio">
                                    Múltiples idiomas y monedas
                                </td>
                                <td>
                                    <i class="fas fa-check"></i>
                                </td>
                                <td>
                                    <i class="fas fa-times"></i>
                                </td>
                                <td>
                                    <i class="fas fa-times"></i>
                                </td>
                            </tr>
                            <tr>
                                <td class="beneficio">
                                    Integración con MercadoLibre y Amazon
                                </td>
                                <td>
                                    <i class="fas fa-check"></i>
                                </td>
                                <td>
                                    <i class="fas fa-times"></i>
                                </td>
                                <td>
                                    <i class="fas fa-times"></i>
                                </td>
                            </tr>
                            <tr>
                                <td class="beneficio">
                                    Subscribirse
                                </td>
                                <td>
                                    <form action="/carrito" method="get">
                                        <button>
                                            $6,999 p/mes
                                        </button>
                                    </form>
                                </td>
                                <td>
                                    <form action="/carrito" method="get">
                                        <button>
                                            $1,999 p/mes
                                        </button>
                                    </form>
                                </td>
                                <td>
                                    <form action="/carrito" method="get">
                                        <button>
                                            $799 p/mes
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        </table>
        </section>

<%- include('./partials/footer') %>