* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
h1, h2, h3, h4, h5, h6, button {
    font-family: 'Raleway', sans-serif;
}
.contenedor {
    width: 95%;
    height: auto;
    background-color: rgb(100, 197, 149);
    margin: 30px 0px;
    display: flex;
    flex-direction: row;
    align-self: center;
    border-radius: 20px;
    box-shadow: 7px 13px 37px #000;
    
}
.contenedor-producto {
    width: 60%;
    height: 300px;
    border: 2px solid white;
    border-radius: 20px 0px 0px 20px ;
    flex-direction: column;
    background-position:center ;
    background-size: cover ;
    background-repeat: no-repeat ;
    align-self: center;
    display: flex;
}
     
.contenedor-producto-elegido {
    width: 80%; 
    min-height: 175px;
    background-color: none;
    align-self: center;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.contenedor-precios-total {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 70%;
}
.contenedor-precios-contenido, .contenedor-precios-texto {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}
.contenedor h2 {
    font-size: 1.6em;
    text-decoration: underline;
    text-align: center;
    margin: 15px 0px;
    color: white;
}
.contenedor h3 {
    text-align: left;
    color: white;    
}
.contenedor-precios {
    width: 40%;
    height: 300px;
    border: 2px solid white;
    background-color: none;
    text-decoration: silver;
    border-radius: 0px 20px 20px 0px;
    text-align: center;
    background-color: rgb(100, 197, 149);
}
.banner-pago {
    width: 98%;
    max-height: 200px;
    align-self: center;
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    animation: movimiento 4s linear infinite;
   
}
.banner-imagen {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    max-height: 200px;
    align-self: center;
}
.datos {
    width: 80%;
    background-color:white;
    margin: 50px 0px;
    padding: 30px;
    align-self: center;
    display: flex;
    flex-direction: row;
    box-shadow: 7px 13px 37px rgb(100, 197, 149);;
    border-radius: 20px;
    border: 2px solid rgb(100, 197, 149);  
}
.pago-descripcion {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pago-descripcion h2 {
    font-size: 1.5em;
    color: rgb(100, 197, 149);
    text-decoration: underline;
    margin-bottom: 20px;
    white-space: nowrap;
}
.pago-descripcion form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.pago-descripcion p {
    width: 100%;
    text-align: center;
    margin-bottom: 25px;
    margin-top: 25%;
}
.pago-descripcion input {
    margin-left: 30%;
    margin-bottom: 10px;
    margin-top: 3px;
    margin-right: 5px;
    width: 5%;
    display: inline-block;
}
.pago-descripcion label {
    width: 55%;
    margin-bottom: 10px;
}
   
.datos-tarjeta {
    width: 55%;
    display: flex;
    justify-content: center;
}
.datos-tarjeta form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.datos-tarjeta input, .datos-tarjeta select {
    display: inline-block;
    border: 1px solid #017bab;
    padding: 5px;
    margin: 5px 0px;
    background: white;
    font-size: 0.85em;
    font-weight: bold;
    width: 40%;
}
.datos-tarjeta label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 15px;
    width: 50%;
    text-align: right;
}
/* Aquí sacamos los controles + y - de los inputs tipo number */
/* Para Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Para Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.datos-tarjeta button {
    cursor: pointer;
    padding: 10px;
    background-color:  rgb(100, 197, 149);
    font-size: 1.3em;
    font-weight: bold;
    border-radius: 20px;
    border: none;
    position: relative;
    left: 90px;
    top: 10px;
}
@media (max-width: 500px) {
    .contenedor{
        font-size: 0.9em;
        flex-direction: column;
        width: 85%;
        margin: 5%;
    }
    .contenedor h2{
        font-size: 1.6em;
    }
    .datos {
        flex-direction: column;
        width: 80%;
    }
    .datos h2 {
        font-size: 1.4em;
    }
    .pago-descripcion {
        width: 100%;
        margin-bottom: 15px;
        border-bottom: 1px solid black;
        padding-bottom: 15px;
    }
    .pago-descripcion p {
        margin-top: 20px;
    }
    .pago-descripcion input {
        margin-left: 30%;
        margin-bottom: 10px;
        margin-top: 3px;
        margin-right: 5px;
        width: 5%;
        display: inline-block;
    }
    .pago-descripcion label {
        width: 55%;
        margin-bottom: 10px;
    }
    .datos-tarjeta{
        width: 100%;
    }
    .contenedor-producto{
        width: 100%;
        border-radius: 20px 20px 0px 0px
    }
    .contenedor-precios{
        width: 100%;
        border-radius: 0px 0px 20px 20px;
    }
    .datos-tarjeta button {
        font-size: 1.1em;
        position: relative;
        left: 90px;
        top: 10px; 
    }
    .datos-tarjeta label {
        width: 40%;
        font-size: 0.85em;
    }
    .datos-tarjeta input, .datos-tarjeta select {
        width: 60%;
    }
    
}
    
@media(max-width: 650px){
    .contenedor-precios-total h2{
        font-size: 1.2em;
    }
    .contenedor-precios-total h3{
        line-height: 1em;
    }
    .pago-descripcion input {
        margin-left: 5%;
    }
    .pago-descripcion label {
        width: 80%;
    }

}
@media(max-width: 800px){
    .datos {
        width: 90%;
    }
    .datos h2 {
        white-space: normal;
    }
    .datos p {
        text-align: left;
        margin-top: 15px;
    }
    .pago-descripcion input {
        margin-left: 10%;
    }
    .pago-descripcion label {
        width: 75%;
    }
}

@keyframes movimiento{
    0%{
        transform: translatey(0);
    }
    50%{
        transform: translatey(20px);
    }
    100%{
        transform: translatey(0);

    }
}
