* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    outline: none;
}
h1, h2, h3, h4, h5, h6, button, th {
    font-family: 'Raleway', sans-serif;
}
th {
    min-height: fit-content;
}
.nombre-producto{
    position: relative;
    left: 30%;
    margin: 10px;
}
.tipo-producto{
    position: relative;
    left: 30%;
    margin: 10px;
}
.imagen-producto{
    position: relative;
    left: 30%;
    margin: 10px;
}
.tdDiv p{
    font-size: 0.8em;
}
.contenedorMedalla-tdDiv{
    font-size: 1.4em;
}
.sections-titlet {
    text-align: center;
    margin: 20px;
}

.typeOfContentToEdit{
    font-size: 1.3em;
    margin: 5px;
}
.iconToEditContainer {

}
.subtitleToEditContainer {

}
.descriptionToEditContainer {
    width: 100%;
    margin: 2%;
}
.titulo {
    margin: 20px 0px 10px 0px;
    font-size: 1.8em;
    text-align: center;
    text-decoration: underline overline;
}
.subtituloContenedor {
    width: fit-content;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 15px;
}
.subtitulo {
    margin-top: 20px;
    font-size: 1.6em;
    text-align: center;
    text-decoration: underline;
    display: inline;
}
.subtitulo-producto {
    font-family: 'Raleway', sans-serif;
    width: fit-content;
    display: inline;
    font-size: 1.6em;
}
input {
    border-color: rgba(0, 0, 0, 0);
    padding: 5px;
    border-radius: 3px;
}
td input {
    width: 50%;
    margin: auto;
}
.disenoBlanco input {
    border-color: rgba(0, 0, 0, 1);
    border-width: 0.1px;
}
.beneficio input {
    width: 80%;
}
.inputNone {
  display: none;  
}
.labelPointer {
    cursor: pointer;
}
.center {
    width: 80%;
    margin: auto;
}
.block {
    display: block;
    width: 100%;
    text-align: center;
    margin: 1% auto;
    padding: 2px;
}
.fa-file-image {
    font-size: 25em;
    margin: 0.5em auto;
}
.disenoVerde-articleImg, .disenoBlanco-articleImg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.disenoVerde-articleImg input, .disenoBlanco-articleImg input {
    width: fit-content;
    align-self: center;
}
.buttons-form {
    display: flex;
    align-content: center;
}
.submit {
    width: 25%;
    min-width: fit-content;
    padding: 10px;
    border: 2px solid rgb(100, 197, 149);
    font-size: 1.2em;
    font-weight: bold;
    border-radius: 20px;
    margin: 15px auto;
}
.linkButton {
    font-family: 'Raleway', sans-serif !important;
    text-align: center;
    color: black;
}
.linkButton:hover {
    transition: 300ms;
    transform: scale(1.1);
    cursor: pointer;
}
.submit:hover{
    background-color: rgb(100, 197, 149);
}
.reset {
    width: 25%;
    min-width: fit-content;
    padding: 10px;
    border: 2px solid rgb(255, 77, 29);
    font-size: 1.2em;
    font-weight: bold;
    border-radius: 20px;
    margin: 15px auto;
}
.reset:hover{
    content: '';
    background-color: rgb(255, 77, 29);
}
.delete {
    width: 25%;
    min-width: fit-content;
    padding: 10px;
    border: 2px solid red;
    font-size: 1.2em;
    font-weight: bold;
    border-radius: 20px;
    margin: 15px auto;
}
.delete:hover{
    content: '';
    background-color: red;
}
.descripcion {
    margin: 16px auto;
    padding: 0 16px;
    text-align: center;
}
.editFormContainer form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 5% 0;
}
.editTextInput {
    border: 1px solid black;
    width: 80%;
    padding: 5px;
    margin: auto;
    align-self: center;
}
.selectSection {
    display: block;
    width: 100%;
}
.selectSection li {
    text-align: center;
    color: black;
    cursor: pointer;
}
.contentList {
    text-align: center;
    margin: 10px auto;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.contentList li {
    align-self: center;
    max-width: 100%;
    min-width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.contentToEdit,
.contentIconToEdit {
    cursor: pointer;
    margin: 20px 0px;
}
.contentList li button {
    border: none;
    background-color: white;
    margin: 10px;
}
.contentIcon {
    display: block;
    min-width: max-content;
    margin: 16px auto 16px auto;
}
.contentSubtitle {
    min-width: fit-content;
    width: 50%;
    border: 1px solid black;
    margin: 16px 25% 16px 25%;
}
.contentDescription {
    width: 80%;
    border: 1px solid black;
    margin: 16px 10% 16px 10%;
    height: 60px;
}
#descriptionToEdit {
    width: 80%;
}

#descriptionToEdit,
#subtitleToEdit {
    border: 1px solid black;
    padding: 5px;
    margin: 10px 10px 22px 10px;
    min-width: fit-content;
}
#iconToEdit {
    margin: 10px;
}
#subtitleToEdit {
    width: 50%;
}
.contentIconToEdit {
    width: 7%;
    background-color: black;
}

/*--------------------------*/
.fontSize {
    font-size: 0.8em;
}

.errors {
    color: red !important;
    margin-top: 4px;
    font-size: 0.65em;
}

.categoryNames {
    font-size: 0.6em;
}
.categoryNameErrors p {
    color: red;
    margin-top: 7px;
    font-size: 0.52em;
}
.transactionCostsErrors p, .sectionsWebErrors p, .priceSubscriptionErrors p {
    font-weight: 600;
    color: red;
    margin-bottom: 10px;
    font-size: 0.8em;
}
.categoryImageErrors p {
    color: red;
    margin: 3px;
    font-size: 0.7em;
}
.categoriesTitles {
    font-size: 1.5em;
}
.categoriesTitles em {
    text-decoration: underline;
    font-style: normal;
}
.messageBenefitsErrors, .messageAsociationErrors {
    color: red;
    font-size: 1.3em;
}
.tdDiv h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}
.priceSubscription {
    min-width: 50px;
    max-width: fit-content;
}
.buttons-form {
    display: flex;
    flex-wrap: wrap;
}
.inputBeneficio {
    min-width: fit-content;
}

@media (max-width: 556px) {
    .tdDiv h4{
        font-size: 12px;
    }
    .contenedorMedalla-tdDiv{
        font-size: 1em;
    }
    .submit, .delete, .reset {
        font-size: 0.9em;
    }
    .disenoBlanco {
        width: 100%;
    }
    .messageBenefitsErrors, .messageAsociationErrors {
        font-size: 1em;
    }
}