* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    outline: none;
}
h1, h2, h3, h4, h5, h6, button {
    font-family: 'Raleway', sans-serif;
}
h1 {
    margin-top: 20px;
    font-size: 1.8em;
    text-align: center;
    text-decoration: underline overline;
}
.listaContenedor {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.productoListado a {
    text-decoration: none;
    color: black;
}
.productoListado {
    width: 60%;
    align-self: center;
    text-align: center;
    margin: 3%;
    padding: 20px;
    border: 5px solid rgb(40, 172, 106); 
    border-radius: 30px 0px 30px 0px;
    background-color: rgb(100, 197, 149);
    box-shadow: 7px 13px 37px #000;
}
.productoListado h2 {
    font-size: 2.2em;
}
.productoListado h3 {
    margin: 15px 0px;
    font-style: italic;
}
.logoProducto {
    width: 15%;
    min-width: 75px;
    align-self: center;
    margin: 20px 10px;
}

.medalla {
    max-width: 50px;
    margin-top: 10px ;
}
.tabla-productos {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    text-align: center;
    padding: 10px;
}
.tabla-productos-titulos {
    background-color: rgb(40, 172, 106); ; 
    border: 5px solid white;
}
.tabla-productos-cuerpo {
    background-color: rgb(40, 172, 106); 
    border: 2px solid white;
}
.tabla-productos-cuerpo td{
    padding: 10px;
    width: fit-content;
}
.tabla-productos p {
    font-size: 1em;
    white-space: nowrap;
}
.tabla-productos h2 {
    padding: 10px;
    font-size: 1.3em;
    text-decoration: underline;
}
.tabla-productos h3 {
    font-size: 1.4em;
    margin: 0px;
    font-style: normal;
}
.tabla-productos a {
    color: black;
    text-decoration: none;
}
.productoListado form {
    width: 100%;
    display: flex;
}
.botonesContenedor {
    display: flex;
    justify-content: space-between;
}
.botonesContenedor form {
    width: fit-content;
}
.botones {
    justify-self: flex-end;
    border: 1px solid rgb(100, 197, 149);
    background-color: rgb(100, 197, 149);
    font-size: 1.3em;
    cursor: pointer;
}
.botones:hover {
    text-decoration: underline;
}
.crear-contenedor {
    width: 100%;
    align-self: center;
    display: flex;
}
.boton-crear {
    width: 25%;
    min-width: fit-content;
    white-space: nowrap;
    padding: 10px;
    background-color: rgb(100, 197, 149);
    font-size: 1.2em;
    font-weight: bold;
    border-radius: 20px;
    margin: 15px auto;
    justify-self: center;
}
.boton-crear:hover {
    text-decoration: underline;
    cursor: pointer;
}

footer {
    margin-top: 20px;
}


/* Media Queries */

@media(max-width:800px){
    .productoListado {
        width: 80%;
    }
    .tabla-productos-titulos h2{
        font-size: 1.4em;
    }
    .tabla-productos {
        width: 100%;
        transform: scale(0.9);
    }
}
@media(max-width:500px){
    .productoListado {
        width: 90%;
        margin-top: 30px;
        padding: 15px 0px;
    }
    .productoListado h3 {
        font-size: 1em;
    }
    .tabla-productos p {
        font-size: 0.8em;
    }
    .tabla-productos td {
        padding: 5px;
    }
    .tabla-productos-titulos h2{
        font-size: 1.2em;
    }
    .tabla-productos-titulos h1{
        font-size: 0.8em;
        padding: 5px;
    }
    .tabla-productos-titulos h4{
        font-size: 1em;
        flex-wrap: wrap ;
    }
    .medalla{
        width: 70%;
        margin-top: 20px ;
    }
    .tabla-productos {
        padding: 0px;
        align-self: center;
        transform: scale(0.9);
    }

}
@media(max-width:350px){
    .productoListado {
        width: 95%;
    }
    .tabla-productos {
        margin-left: auto;
        margin-right: auto;
    }
    .tabla-productos-titulos h2{
        font-size: 1em;
    }
    .producto-verMas {
        font-size: 1.2em;
    }
    .tabla-productos {
        transform: scale(0.9);
    }

}