* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    outline: none;
}
h1, h2, h3, h4, h5, h6, button {
    font-family: 'Raleway', sans-serif;
}
h1 {
    margin-top: 20px;
    font-size: 1.8em;
    text-align: center;
    text-decoration: underline overline;
}
a {
    text-decoration: none;
    color: black;
    width: 70%;
    align-self: center;
}
.producto {
    border: 5px solid rgb(100, 197, 149);
    border-radius: 30px;
    width: 100%;
    margin: 15px 0px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.producto h2 {
    font-size: 2.2em;
    font-family: 'Kaushan Script', Arial, Helvetica, sans-serif;
}
.producto h3 {
    margin-top: 10px;
    font-style: italic;
}
.logoProducto {
    width: 15%;
    min-width: 75px;
    align-self: center;
    margin: 20px 10px;
}

.medalla {
    max-width: 50px;
    margin-top: 10px ;
}
.tabla-productos {
    align-self: center;
    justify-self: center;
    width: 80%;
    
    text-align: center;
    margin: 3%;
    padding: 20px;
}
.tabla-productos-titulos {
    background-color: rgba(38, 146, 235, 1);
    border: 1px solid white;
}
.tabla-productos-cuerpo {
    background-color: rgba(38, 146, 235, 0.7);
    border: 1px solid white;
}
.tabla-productos-cuerpo td{
    padding: 10px;
    width: fit-content;
}
.tabla-productos p {
    font-size: 1em;
}
.tabla-productos h2 {
    font-family: 'Raleway', sans-serif;
    padding: 10px;
    font-size: 1.3em;
    text-decoration: underline;
}
.tabla-productos h3 {
    font-family: 'Kaushan Script', Arial, Helvetica, sans-serif;
    font-size: 1.4em;
    margin: 0px;
    font-style: normal;
}
.tabla-productos a {
    color: black;
    text-decoration: none;
}

footer {
    margin-top: 20px;
}


/* Media Queries */

@media(max-width:800px){
    .producto {
        width: 80%;
    }
    .tabla-productos-titulos h2{
        font-size: 1.4em;
    }
    .tabla-productos {
        transform: scale(0.9);
    }
}
@media(max-width:500px){
    .producto {
        width: 90%;
    }
    .producto h3 {
        font-size: 1em;
    }
    .tabla-productos p {
        font-size: 0.8em;
    }
    .tabla-productos-titulos h2{
        font-size: 1.2em;
    }
    .tabla-productos-titulos h1{
        font-size: 0.8em;
        padding: 5px;
    }
    .tabla-productos-titulos h4{
        font-size: 1em;
        flex-wrap: wrap ;
    }
    .medalla{
        width: 70%;
        margin-top: 20px ;
    }
    .tabla-productos {
        transform: scale(0.8);
    }

}
@media(max-width:350px){
    .tabla-productos-titulos h2{
        font-size: 0.5em;
    }

}