.creadorContainer {
    margin: 1% 0%;
}
h1 {
    text-align: center;
}
form {
    margin: 0% auto;
    width: 80%;
    display: flex;
    flex-direction: column;
}
label {
    margin: 1% 0%;
}
p {
    margin: 1% 0%;
}
.precio {
    margin-bottom: 1%;
}
textarea {
    width: 100%;
}
ul {
    list-style: none;
}
li {
    margin: 1% 0%;
}
button {
    padding: 1%;
    margin: 1% 0%;
    width: 100%;
}
.submit {
    background-color: rgb(40, 172, 106);
}
.reset {
    background-color: rgb(38, 146, 235);
}