/* Estilos en común */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.form-oauth-iconos {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.form-oauth-titulo { 
    text-align: center;
    color:rgb(100, 197, 149);;
    text-decoration: none;
    font-size: 14px;
    margin-top: 15px;
    padding-top: 15px;
    border-top: 2px solid rgb(100, 197, 149);;
}
.form-oauth-iconos img {
    margin: 10px;
    width: 25px;
}


/* Estilo de Login */
.form-login {
    font-family: Arial;
    width: 400px;
    height: fit-content;
    background: white;
    box-shadow: 7px 13px 37px #000;
    padding: 20px 30px;
    border-top: 4px solid white;
    color: rgb(100, 197, 149);;
    margin-top: 10%;
    margin-bottom: 10%;
    align-self: center;
}
.form-login h5 {
    margin: 0;
    text-align: center;
    height: 40px;
    margin-bottom: 30px;
    border-bottom: 1px solid;
    font-size: 20px;
}
.usuario {
    width: 100%;
    border: 1px solid #017bab;
    margin-bottom: 15px;
    padding: 11px 10px;
    background: white;
    font-size: 14px;
    font-weight: bold;
}
.button {
    width: 100%;
    height: 40px;
    background: #017bab;
    border: none;
    color: white;
    margin: 15px 0px;
    cursor: pointer;
}
.form-login p {
    height: auto;
    text-align: center;
}
.form-login a, .form-login label {
    color:rgb(100, 197, 149);;
    text-decoration: none;
    font-size: 14px;
}
.form-login a:hover {
    text-decoration: underline;
}
.rememberMe {
    display: flex;
    justify-content: center;
    width: 100%;
}
.rememberMe input {
    margin: 0px 5px;
}

/* Estilo de Registro */


.form-registro {
    width: 500px;
    height: auto;
    background: white;
    box-shadow: 7px 13px 37px #000;
    padding: 20px 30px;
    border-top: 4px solid white;
    color: rgb(100, 197, 149);;
    margin-top: 10%;
    margin-bottom: 10%;
    align-self: center;
   }
   .form-registro h5 {
       margin: 0;
       text-align: center;
       height: 40px;
       margin-bottom: 30px;
       border-bottom: 1px solid;
       font-size: 20px;
   }
   .controls{
       width: 100%;
       border: 1px solid #017bab;
       margin-bottom: 15px;
       padding: 11px 10px;
       background: white;
       font-size: 14px;
       font-weight: bold;
   }
   
   .buttons {
       width: 100%;
       height: 40px;
       background: #017bab;
       border: none;
       color: white;
       margin: 16px 0px;
       cursor: pointer;
   }
   .form-registro p {
       height: auto;
       text-align: center;
   }
   .form-registro a {
       color:rgb(100, 197, 149);;
       text-decoration: none;
       font-size: 14px;
   }
   .form-registro a:hover {
       text-decoration: underline;
   }

   /* A partir de acá comienza el estilo de la página de profile */

   .imageForm {
       display: flex;
       flex-direction: column;
       align-items: center;
       width: 100%;
       padding: 3%;
   }
   .imageForm button {
    align-self: center;
    width: fit-content;
    margin-top: 10px;
    border: none;
    font-size: 0.7em;
    text-align: center;
    padding: 10px;
    outline: none;
    font-family: 'Montserrat', sans-serif;
    border-radius: 3px;
    background-color: rgb(38, 146, 235); 
   }
   .imageForm button:hover {
       cursor: pointer;
   }
   .imagenPerfilInputb {
       display: none;
   }
   .imagenPerfil {
        width: 100%;
        max-width: 150px;
   }
   .datosPersonales {
       display: flex;
       flex-direction: column;
       justify-content: center;
   }
   .datosPersonales input {
       width: 100%;
       margin: 2% auto;
       border: none;
       font-size: 1.5em;
       text-align: center;
       padding: 5px;
       outline: none;
       font-family: 'Montserrat', sans-serif;
   }
   .datosPersonales button {
    width: fit-content;
    margin: 2% auto;
    border: none;
    font-size: 1.5em;
    text-align: center;
    padding: 10px;
    outline: none;
    font-family: 'Montserrat', sans-serif;
    border-radius: 3px;
    background-color: rgb(38, 146, 235);
   }
   .datosPersonales button:hover {
       cursor: pointer;
   }
   .productosContratados,
   .categoriaContratada {
       display: flex;
       justify-content: center;
   }
   .productosContratados h4,
   .categoriaContratada h4 {
       font-size: 1.5em;
       margin: 2% 1% 2% 0;
   }
   .productosContratados p,
   .categoriaContratada p {
       font-size: 1.5em;
        margin: 2% 0;
   }