<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../../partials/head') %>
    <link rel="stylesheet" href="/stylesheets/producto-style.css">
    <link rel="stylesheet" href="/stylesheets/crear-editar-style.css">
</head>

<%- include('../../partials/navbar') %>

<section>
    <article>
        <h2>
            <!--Elegir titulo seccion 1-->
            <label for="atitle">Titulo seccion</label> <br>
            <input required type="text"  style="padding: 5px; margin: 2% auto; border-radius: 3px;width: 60%;" name="atitle" <% if (typeof productToEdit != 'undefined' ) { %> value="<%= productToEdit.Sections[0].title %>" <% } else { %> placeholder="Escribí el texto aquí..." <% } %> >
        </h2>
    </article>
    <div>
        <article>
            <h3>
                <!--Elegir icono.1 seccion 1--> <br>
                <label for="aicon1">Icono:</label><br>
                <input type="file" name="aicon1" id="aicon1" accept="image/svg"> <br>
                <!--Elegir subtitulo.1 seccion 1-->
                <label for="asubtitle1">Subtítulo:</label> <br>
                <input type="text"  style="padding: 5px; margin: 2% auto; border-radius: 3px;width: 100%;" name="asubtitle1" placeholder="Escribí el texto aquí...">
            </h3>
            <p  class="disenoBlanco-article2-parrafo">
                <!--Elegir descripcion.1 seccion 1-->
                <label for="adescription1">Descripcion:</label> <br>
                <textarea cols="30" rows="5" style="padding: 5px; margin: 2% auto; border-radius: 3px;width: 100%;" name="adescription1">Escribí el texto aquí...</textarea>
            </p>
        </article>
    </div>
    <div>

        <form action="/" method="GET">
    
            <button type="submit">Agregar más contenido</button>
        
        </form>

    </div>
    <article>
        <label for="aimage" style="display: block; width: 100%"><i class="far fa-file-image" style="width: 100%; text-align: center;"></i></label><br>
        <input type="file" name="aimage" id="aimage" accept="image/png"> <br>
    </article>



    <div>

        <form action="/products/edited-section" method="post">
    
            <button type="submit">Continuar</button>
            <button type="reset">Borrar campos</button>
        
        </form>

    </div>


</section>


<%- include('../../partials/footer') %>