<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/styles/index-style.css">
    <link rel="stylesheet" href="/public/styles/carrito-style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap" rel="stylesheet">
    <link href="/public/icons/logo-color.svg" rel="icon">
    <title>Tu Tienda Web</title>
</head>
<body>
<main class="principal">
<div class="barraSuperior">
    <a href="/">
        <img class="barraSuperior-logo" src="/public/logo/logo2d.png">
    </a>
    <nav class="barraSuperior-navbar">
        <div class="barraSuperior-navbar-desplegable">
            <a><i class="fa fa-bars"></i></a>
        </div>
        <ul class="barraSuperior-navlist">
            <li class="barraSuperior-navlist-links"><a href="/producto">Productos</a></li>
            <li class="barraSuperior-navlist-links"><a href="/#nosotros">Sobre nosotros</a></li>
            <li class="barraSuperior-navlist-links"><a href="#contacto">Contacto</a></li>
            <li class="barraSuperior-navlist-links"><a href="#">FAQ's</a></li>
        </ul>      
    </nav>
    <div class="barraSuperior-navExtra">
        <div class="barraSuperior-navExtra-usuario">
            <a class="barraSuperior-navExtra-usuario-registro" href="/registro">Registrarse</a>
            <a class="barraSuperior-navExtra-usuario-login" href="/login">Iniciar Sesión</a>
        </div>
        <a href="/carrito"><img class="barraSuperior-navExtra-carrito" src="/public/icons/logo-color-borde.svg"></a>
    </div>
</div>

<!--Acá termina la barra superior de navegación común a todas las paginas-->


<div class="contenedor">
    <div class="contenedor-producto">
        <h1>cracteristicas del producto</h1>
    </div>

    <div class="contenedor-precios"> 
        <h2>felicitaciones¡¡ mira los descuentos</h2>
        
    </div>
        
</div>

<div class="pago">
    <img src="/public/images/logo-tarjetas.png" alt="imagen de pagos" class="medios-de-pago"> 
    <div class="pago-descripcion">
        <h1>Formas y medios de pago</h1>
      <form action="carrito.html" method="GET">
        <p><label for="">Elige el medio de pago que prefieras</label></p>
        <p><input type="radio" name="pago" value="d">Debito</p>
        <p><input type="radio" name="pago" value="c">Credito</p>
        <p><input type="radio" name="pago" value="p">Pago facil</p>
        <p><input type="radio" name="pago" value="r">Rapi pado</p>
        <p><input type="radio" name="pago" value="m">Mercado pago</p>
    </form>
    </div>

    
</div>


<div class="datos">
    <form action="carrito.html" method="GET">
        <p><label for="pais"> pais</label></p> 
        <p><input type="pais" id="pais" name="pais"></p>
        <p><label for="ciudad"> ciudad</label></p>
        <p><input type="ciudad" id="ciudad" name="ciudad"></p>
        <p><label for="">seleccione tarjeta: </label></p>
            <select name="tarjeta" id="">
                <option value="vi">Visa</option>
                <option value="mc">Master card</option>
                <option value="am">American express</option>
                <option value="ts">Tarjeta shopping</option>
                <option value="ac">argencard</option>
                <option value="ca">Cabal</option>
                <option value="na">Nativa</option>
                <option value="pn">Provincia net</option>
                <option value="ba">Banelco</option>
                <option value="li">Link</option>
                <option value="na">Naranja</option>

            </select>
        
        <p><label for="numero tarjeta">numero tarjeta </label></p>
        <p><input type="numero tarjeta" id="numero tarjeta" name="numero tarjeta"></p>
        <p><label for="cuotas">cuotas </label></p> 
        <p><input type="cuotas" id="cuotas" name="cuotas"></p>
        <p><label for="cupón de descuento">cupón de descuento </label></p> 
        <p><input type="cupón de descuento" id="cupón de descuento" name="cupón de descuento"></p>
        <p><label for="codigo de seguridad"> codigo de seguridad</label></p>
        <p><input type="codigo de seguridad" id="codigo de seguridad" name="codigo de seguridad"></p>
        <button>pagar</button>
        
</form>

    <div class="datos-generar">
        <img src="/public/images/pago-facil-logo.jpg" alt="imagen pago facil" class="imagen-pago-facil">
        <img src="/public/images/logo-rapipago.png" alt="imagen mercado pago" class="imagen-rapi-pago">
        <img src="/public/images/mercado-pago.jpg" alt="imagen mercado pago" class="imagen-mercado-pago">
     <div class="datos-generar-links">
        <input class="button-p" type="submit" name="" value="generar link">
        <input class="button-r" type="submit" name="" value="generar link">
        <input class="button-m" type="submit" name="" value="escanear QR">
    </div>
    </div>


</div>


<!--Acá empieza el footer común a todas las páginas-->

<footer class="piePagina">
    <a name="contacto">
    <div class = "piePagina-redesSociales">
    <a href="https://www.facebook.com"> <img src="/public/icons/social-media/facebook.svg" alt="seguinos en facebook"></a>
    <a href="https://www.instgram.com"> <img src="/public/icons/social-media/instagram.svg" alt="seguinos en instagram"></a>
    <a href="https://www.whatsapp.com"> <img src="/public/icons/social-media/whatsapp.svg" alt="escribinos al whatsapp"></a>
    </div>
    <div class = "piePagina-contacto">
        <a href="mailto:tutienda@web.com">tutienda@web.com</a>
        <a target="_blank" href="https://www.google.com.ar/maps/place/Av.+Corrientes+1538,+C1042AAO+CABA/@-34.6043326,-58.3909866,17z/data=!3m1!4b1!4m5!3m4!1s0x95bccac6ac9bdc79:0x269f5e7751aefbea!8m2!3d-34.604332!4d-58.388797">Av. Corrientes 1538 - CABA, Argentina.</a>
        <a href="tel:+54 0800-888-4363">Llamanos a nuestro 0800!</a>
    </div>
    <br>
    <div class="piePagina-copyright"><p>Copyright © 2020 <em>Tu Tienda Web</em> S.R.L.</p></div>
    </a>
 </footer>
</main>

    
</body>
</html>