<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="stylesheet" href="/stylesheets/carrito-style.css">
    <%- include('./partials/head') %>
</head>

<%- include('./partials/navbar') %>

<div class="contenedor">
    <div class="contenedor-producto">
        <h2>Tu producto:</h2>
        <div class="contenedor-producto-elegido">
            <h3 class="elegido-titulo">¡Lo sentimos!...No has elegido ningún producto.</h3>
        </div>
    </div>

    <div class="contenedor-precios"> 
        
     <h2>Detalles del precio:</h2>
        <div class="contenedor-precios-total">
            <div class="contenedor-precios-texto">
                <h3>Precio:</h3>
                <h3>Descuento:</h3>
                <h3>Total:</h3>
            </div>
            <div class="contenedor-precios-contenido">
                <h3>--</h3>
                <h3>--</h3>
                <h3>--</h3>
            </div>
        </div>
    </div> 
</div>

<div class="banner-pago">
    <img src="/images/logo-tarjetas.png" alt="imagen de pagos" class="banner-imagen"> 
</div>

<div class="datos">
    <div class="pago-descripcion">
        <h2>Formas y medios de pago:</h2>
     <form action="#" method="POST">
        <p>Elige el medio de pago que prefieras:</p>
        <input type="radio" name="pago" id="pago-debito" value="d">
        <label for="pago-debito">Débito</label>
        <input type="radio" name="pago" id="pago-credito" value="c">
        <label for="pago-credito">Crédito</label>
        <input type="radio" name="pago" id="pago-facil" value="p">
        <label for="pago-facil">Pago Fácil</label>
        <input type="radio" name="pago" id="pago-rapi" value="r">
        <label for="pago-rapi">Rapi Pago</label>
        <input type="radio" name="pago" id="pago-mercado" value="m">
        <label for="pago-mercado">Mercado Pago</label>
     </form>
    </div>

    <div class="datos-tarjeta">
        <form action="#" method="POST">
            <label for="pais">País:</label>
            <input type="text" id="pais" name="pais">
            <label for="ciudad">Ciudad:</label>
            <input type="text" id="ciudad" name="ciudad">
            <label for="tarjeta">Seleccione tarjeta: </label>
            <select name="tarjeta" id="tarjeta">
                <option value="vi">Visa</option>
                <option value="mc">Mastercard</option>
                <option value="am">American Express</option>
                <option value="ts">Tarjeta Shopping</option>
                <option value="ac">Argencard</option>
                <option value="ca">Cabal</option>
                <option value="na">Nativa</option>
                <option value="pn">Provincia Net</option>
                <option value="ba">Banelco</option>
                <option value="li">Link</option>
                <option value="na">Naranja</option>
            </select>
            
                <label for="numero tarjeta">Numero de tarjeta:</label>
                <input type="number" id="numero tarjeta" name="numero tarjeta">
                <label for="codigoSeguridad"> Codigo de seguridad:</label>
                <input type="password" id="codigoSeguridad" name="codigo de seguridad">
                <label for="vencimiento">Fecha de vencimiento:</label>
                <input type="number" id="vencimiento" placeholder="Mes / Año">
                <label for="cuotas">Cantidad de cuotas:</label>
            <select name="cuotas" id="cuotas">
                <option value="">1</option>
                <option value="">3</option>
                <option value="">6</option>
                <option value="">9</option>
                <option value="">12</option>
            </select>
                <label for="cupón de descuento">Cupón de descuento:</label>
                <input type="cupón de descuento" id="cupón de descuento" name="cupón de descuento">
                <button>Pagar</button> 
        </form>
    </div>
</div>

        
<%- include('./partials/footer') %>
    
