<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/styles/index-style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap" rel="stylesheet">
    <link href="/public/icons/logo-color.svg" rel="icon">
    <title>Tu Tienda Web</title>
</head>
<body>
<main class="principal">
<div class="barraSuperior">
    <a href="/">
        <img class="barraSuperior-logo" src="/public/logo/logo2d.png">
    </a>
    <nav class="barraSuperior-navbar">
        <div class="barraSuperior-navbar-desplegable">
            <a><i class="fa fa-bars"></i></a>
        </div>
        <ul class="barraSuperior-navlist">
            <li class="barraSuperior-navlist-links"><a href="/producto">Productos</a></li>
            <li class="barraSuperior-navlist-links"><a href="#nosotros">Sobre nosotros</a></li>
            <li class="barraSuperior-navlist-links"><a href="#contacto">Contacto</a></li>
            <li class="barraSuperior-navlist-links"><a href="#">FAQ's</a></li>
        </ul>      
    </nav>
    <div class="barraSuperior-navExtra">
        <div class="barraSuperior-navExtra-usuario">
            <a class="barraSuperior-navExtra-usuario-registro" href="/registro">Registrarse</a>
            <a class="barraSuperior-navExtra-usuario-login" href="/login">Iniciar Sesión</a>
        </div>
        <a href="/carrito"><img class="barraSuperior-navExtra-carrito" src="/public/icons/logo-color-borde.svg"></a>
    </div>
</div>

<!--Acá termina la barra superior de navegación común a todas las paginas-->

<section class="banner">
    <a href="/producto"><img src="/public/images/tutiendaweb-banner-sd.gif"></a>
</section>

<a name="productos">
<section class="productosContenedor">
    <article class="productosContenedor-producto-1">
        <div class="productosContenedor-producto-1-imagen"><a href="/producto"><img src="/public/icons/store-color-borde.png"></a></div>
        <a href="/producto"><h2>Tu <em>Tienda Web</em></h2></a>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. A quidem molestias repellendus iusto rem maxime neque eaque, perferendis et, magnam soluta fugiat! Doloribus totam quidem odio quis eveniet voluptatibus aperiam.

        </p><button class="productosContenedor-verMas" href="/producto">Ver más...</button>
    </article>
    <article class="productosContenedor-producto-2">
        <div class="productosContenedor-producto-2-imagen"><a href="/producto"><img src="/public/icons/web-color-borde.png"></a></div>
        <a href="/producto"><h2>Tu <em>Página Web</em></h2></a>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum voluptate voluptatum suscipit eaque maxime, nihil non vero eos illum officia itaque? Autem reiciendis voluptas recusandae nemo voluptate suscipit, ex sint.

        </p><button class="productosContenedor-verMas" href="/producto">Ver más...</button>

    </article>
</section>
</a>

<a name="nosotros">
<section class="nosotrosContenedor">
    <h2>Quienes somos...</h2>
    <article class="nosotrosContenedor-mision-vision">
        <p><em><b>Visión:</b></em> El mundo digital está en crecimiento y desarrollo constante. Aquí y ahora, es donde el marketing digital está a un click de distancia.</p>
        <p><em><b>Misión:</b></em> Facilitar a nuestros usuarios herramientas digitales de avanzada, ser su aliado digital, para que puedan desarrollarse con todo el potencial de la tecnología.</p>
    </article>
    <article class="nosotrosContenedor-historia">
        <h3>Historia de la empresa:</h3>
        <p>Tu Tienda Web es una start-up creada en 2020 por un grupo de alumnos de programación web en Digital House.</p>
        <p>¿Que mejor tarea para un grupo de programadores, que ser un puente digital entre los usuarios comúnes y todo el potencial de el mundo virtual?</p>
    </article>
    <article class="nosotrosContenedor-apuntamos">
        <h3>A que apuntamos:</h3>
        <p>Nuestra aspiración es que cualquier persona que desee tener su propia tienda online o su propia pagina web, pueda llevarlo a cabo con facilidad.</p>
        <p>Seas un emprendedor con un proyecto, queriendo vender tus productos (físicos o virtuales). Seas un músico, artista o marca que quiera darse a conocer, mediante una página web...queremos que puedas hacerlo de forma simple y con resultados de pri</p>
    </article>
    <article class="nosotrosContenedor-descripcion">
        <h3>Descripción de la empresa:</h3>
        <p>Somos cuatro estudiantes de programación, que conjugando nuestros estudios particulares de marketing, psicología, contabilidad, experiencia en ventas y nuestro gusto por la informática...queremos ofrecer una solución digital para quienes deseen explotar todo el potencial de internet, con su tienda digital o su página web.</p>
    </article>
    <button class="nosotrosContenedor-conocenos-boton">Conocenos</button>
</section>
</a>


<!--Acá empieza el footer común a todas las páginas-->

<footer class="piePagina">
    <a name="contacto">
    <div class = "piePagina-redesSociales">
    <a href="https://www.facebook.com"> <img src="/public/icons/social-media/facebook.svg" alt="seguinos en facebook"></a>
    <a href="https://www.instgram.com"> <img src="/public/icons/social-media/instagram.svg" alt="seguinos en instagram"></a>
    <a href="https://www.whatsapp.com"> <img src="/public/icons/social-media/whatsapp.svg" alt="escribinos al whatsapp"></a>
    </div>
    <div class = "piePagina-contacto">
        <a href="mailto:tutienda@web.com">tutienda@web.com</a>
        <a target="_blank" href="https://www.google.com.ar/maps/place/Av.+Corrientes+1538,+C1042AAO+CABA/@-34.6043326,-58.3909866,17z/data=!3m1!4b1!4m5!3m4!1s0x95bccac6ac9bdc79:0x269f5e7751aefbea!8m2!3d-34.604332!4d-58.388797">Av. Corrientes 1538 - CABA, Argentina.</a>
        <a href="tel:+54 0800-888-4363">Llamanos a nuestro 0800!</a>
    </div>
    <br>
    <div class="piePagina-copyright"><p>Copyright © 2020 <em>Tu Tienda Web</em> S.R.L.</p></div>
    </a>
 </footer>
</main>

    
</body>
</html>