<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/index-style.css">
    <link href="/icons/logo-color.svg" rel="icon">
    <title>Tu Tienda Web</title>
</head>
<body>
<main class="principal">
<div class="barraSuperior">
    <img class="logo" src="/logo/logo2d.png">
    <nav class="navbar">
        <ul class="navlist">
            <li class="listlinks"><a href="#">Productos</a></li>
            <li class="listlinks"><a href="#">Sobre nosotros</a></li>
            <li class="listlinks"><a href="#">Contacto</a></li>
            <li class="listlinks"><a href="#">FAQ's</a></li>
        </ul>      
    </nav>
    <div class="navExtra">
        <a class="login" href="#">Iniciar Sesión</a>
        <a href="/login.html"><img class="carrito" src="/icons/logo-color-borde.svg"></a>
    </div>
</div>

</main>

    
</body>
</html>