<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/styles/index-style.css">
    <link rel="stylesheet" href="/public/styles/producto2-style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap" rel="stylesheet">
    <link href="/public/icons/logo-color.svg" rel="icon">
    <title>Tu Tienda Web</title>
</head>
<body>
    <main class="principal">
        <div class="barraSuperior">
            <a href="/">
                <img class="barraSuperior-logo" src="/public/logo/logo2d.png">
            </a>
            <nav class="barraSuperior-navbar">
                <div class="barraSuperior-navbar-desplegable">
                    <a><i class="fa fa-bars"></i></a>
                </div>
                <ul class="barraSuperior-navlist">
                    <li class="barraSuperior-navlist-links"><a href="/producto">Productos</a></li>
                    <li class="barraSuperior-navlist-links"><a href="/#nosotros">Sobre nosotros</a></li>
                    <li class="barraSuperior-navlist-links"><a href="#contacto">Contacto</a></li>
                    <li class="barraSuperior-navlist-links"><a href="#">FAQ's</a></li>
                </ul>      
            </nav>
            <div class="barraSuperior-navExtra">
                <div class="barraSuperior-navExtra-usuario">
                    <a class="barraSuperior-navExtra-usuario-registro" href="/registro">Registrarse</a>
                    <a class="barraSuperior-navExtra-usuario-login" href="/login">Iniciar Sesión</a>
                </div>
                <a href="/carrito"><img class="barraSuperior-navExtra-carrito" src="/public/icons/logo-color-borde.svg"></a>
            </div>
        </div>

        <!--Acá termina la barra superior de navegación común a todas las paginas-->

        <section class="banner">
            <a href="/producto"><img src="/public/images/tutiendaweb-banner-sd.gif"></a>
        </section>
    
        <section class="banner1">
            <h2>
                Un catálogo. Todos los canales de venta.
            </h2>
            <p>
                Conectá tu catálogo con <em>Tu Tienda Web</em> y no te pierdas ni una venta.
            </p>
            <form action="#botonCarrito" method="GET">
                <button>
                    Empezá ya
                </button>
            </form>
        </section>

        <section class="bannerCampera">
            <img src="/public/images/banner-tienda-web.jpg" alt="imagen promocional de la tienda web con una campera" class="bannerCampera-img">
        </section>

        <section class="disenoAzul">
            <article class="disenoAzul-article1">
                <h2 class="disenoAzul-article1-tituloPrincipal">
                    Tu marca. Tu tienda.
                </h2>
            </article>
            <article class="disenoAzul-articleImg">
                <img src="/public/images/tumarca-tutienda.jpg" alt="">
            </article>
            <div class="disenoAzul-containerArticle2">
                <article class="disenoAzul-article2">
                    <h3 class="disenoAzul-article2-titulo">
                        Tienda de diseños
                    </h3>
                    <p  class="disenoAzul-article2-parrafo">
                        Tu marca es única, tu tienda también. Elegí un diseño y customizalo para que tus productos se luzcan.
                    </p>
                </article>
                <article class="disenoAzul-article2">
                    <h3 class="disenoAzul-article2-titulo">
                        Tu tienda. Tu dominio.
                    </h3>
                    <p  class="disenoAzul-article2-parrafo">
                        Conectá tus propios dominios a tu tienda.
                    </p>
                </article>
                <article class="disenoAzul-article2">
                    <h3 class="disenoAzul-article2-titulo">
                        Gestión de envíos y pagos simplificada
                    </h3>
                    <p  class="disenoAzul-article2-parrafo">
                        Cobrá por tus ventas y enviá tus pedidos de forma rápida y práctica.
                    </p>
                </article>
            </div>
            <form action="#botonCarrito" method="GET"   class="disenoAzul-form">
                <button>
                    Empezá ya
                </button>
            </form>
        </section>

        <section class="disenoBlanco">
            <article class="disenoBlanco-article1">
                <h2 class="disenoBlanco-article1-tituloPrincipal">
                    Tus locales, conectados.
                </h2>
            </article>
            <div class="disenoBlanco-containerArticle2">
                <article class="disenoBlanco-article2">
                    <h3 class="disenoBlanco-article2-titulo">
                        Centralizá todas tus ventas
                    </h3>
                    <p  class="disenoBlanco-article2-parrafo">
                        Cargá, cobrá y enviá tus pedidos sin importar donde vendas.
                    </p>
                </article>
            </div>
            <article class="disenoBlanco-articleImg">
                <img src="/public/images/tus-locales-conectados.jpg" alt="">
            </article>
            <form action="#botonCarrito" method="GET"   class="disenoBlanco-form">
                <button>
                    Empezá ya
                </button>
            </form>
        </section>

        <section class="disenoAzul">
            <article class="disenoAzul-article1">
                <h2 class="disenoAzul-article1-tituloPrincipal">
                    Integración con los mayores marketplaces
                </h2>
            </article>
            <article class="disenoAzul-articleImg">
                <img src="/public/images/integracion-con-los-mayores-marketplaces.jpg" alt="">
            </article>
            <div class="disenoAzul-containerArticle2">
                <article class="disenoAzul-article2">
                    <h3 class="disenoAzul-article2-titulo">
                        Google Shopping
                    </h3>
                    <p  class="disenoAzul-article2-parrafo">
                        Con el comparador de precios de Google vas a poder mostrar todos tus productos en los resultados de google.
                    </p>
                </article>
            </div>
            <form action="#botonCarrito" method="GET"   class="disenoAzul-form">
                <button>
                    Empezá ya
                </button>
            </form>
        </section>

        <section class="disenoBlanco">
            <article class="disenoBlanco-article1">
                <h2 class="disenoBlanco-article1-tituloPrincipal">
                    Tus seguidores.
                    Tus clientes.
                </h2>
            </article>
            <div class="disenoBlanco-containerArticle2">
                <article class="disenoBlanco-article2">
                    <h3 class="disenoBlanco-article2-titulo">
                        Instagram Shop
                    </h3>
                    <p  class="disenoBlanco-article2-parrafo">
                        Conectá tus productos con Instagram y aumentá el tráfico de tu tienda online.
                    </p>
                </article>
                <article class="disenoBlanco-article2">
                    <h3 class="disenoBlanco-article2-titulo">
                        Whatsapp
                    </h3>
                    <p  class="disenoBlanco-article2-parrafo">
                        Compartí tus productos directamente dentro de whatsapp con el teclado TuTiendaWeb.
                    </p>
                </article>
                <article class="disenoBlanco-article2">
                    <h3 class="disenoBlanco-article2-titulo">
                        Facebook Store
                    </h3>
                    <p  class="disenoBlanco-article2-parrafo">
                        Aumenta tus ventas sincronizando tus productos con tu página de Facebook.
                    </p>
                </article>
            </div>
            <article class="disenoBlanco-articleImg">
                <img src="/public/images/tus-seguidores-tus-clientes.jpg" alt="">
            </article>
            <form action="#botonCarrito" method="GET"   class="disenoBlanco-form">
                <button>
                    Empezá ya
                </button>
            </form>
        </section>

        <section class="botonCarrito" id="botonCarrito">
            <form action="/carrito" method="get">
                <button>
                    <article>
                        <h1 class="botonCarrito-titulo">
                            Creá Tu Tienda Web y empezá a vender en todos estos canales.
                        </h1>
                        <p class="botonCarrito-parrafo">
                            Probala gratis ahora y tené siempre productos, ventas y visitas ilimitados en todos los planes.
                        </p>
                        <span class="botonCarrito-precio">
                            $2000 por mes con todas las funcionalidades incluidas.
                            ¡Hacé click en cualquier lugar del banner y empezá a crear tu tienda web!
                        </span>
                    </article>
                </button>
            </form>

        </section>

        <!--Acá empieza el footer común a todas las páginas-->

        <footer class="piePagina">
            <a name="contacto">
            <div class = "piePagina-redesSociales">
            <a href="https://www.facebook.com"> <img src="/public/icons/social-media/facebook.svg" alt="seguinos en facebook"></a>
            <a href="https://www.instgram.com"> <img src="/public/icons/social-media/instagram.svg" alt="seguinos en instagram"></a>
            <a href="https://www.whatsapp.com"> <img src="/public/icons/social-media/whatsapp.svg" alt="escribinos al whatsapp"></a>
            </div>
            <div class = "piePagina-contacto">
                <a href="mailto:tutienda@web.com">tutienda@web.com</a>
                <a target="_blank" href="https://www.google.com.ar/maps/place/Av.+Corrientes+1538,+C1042AAO+CABA/@-34.6043326,-58.3909866,17z/data=!3m1!4b1!4m5!3m4!1s0x95bccac6ac9bdc79:0x269f5e7751aefbea!8m2!3d-34.604332!4d-58.388797">Av. Corrientes 1538 - CABA, Argentina.</a>
                <a href="tel:+54 0800-888-4363">Llamanos a nuestro 0800!</a>
            </div>
            <br>
            <div class="piePagina-copyright"><p>Copyright © 2020 <em>Tu Tienda Web</em> S.R.L.</p></div>
            </a>
        </footer>
    </main>
</body>
</html>