<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/styles/index-style.css">
<link rel="stylesheet" href="/public/styles/producto-style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap" rel="stylesheet">
    <link href="/public/icons/logo-color.svg" rel="icon">
    <title>Tu Tienda Web</title>
</head>
<body>
<main class="principal">
<div class="barraSuperior">
    <a href="/">
        <img class="barraSuperior-logo" src="/public/logo/logo2d.png">
    </a>
    <nav class="barraSuperior-navbar">
        <ul class="barraSuperior-navlist">
            <li class="barraSuperior-navlist-links"><a href="/producto">Productos</a></li>
            <li class="barraSuperior-navlist-links"><a href="#nosotros">Sobre nosotros</a></li>
            <li class="barraSuperior-navlist-links"><a href="#contacto">Contacto</a></li>
            <li class="barraSuperior-navlist-links"><a href="#">FAQ's</a></li>
        </ul>      
    </nav>
    <div class="barraSuperior-navExtra">
        <a class="barraSuperior-navExtra-login" href="/login">Iniciar Sesión</a>
        <a href="/login"><img class="barraSuperior-navExtra-carrito" src="/public/icons/logo-color-borde.svg"></a>
    </div>
</div>

<!--Acá termina la barra superior de navegación común a todas las paginas-->

<section class="banner-versiones">


    <img src="/public/images/web-pc2.png" alt="imagen de un monitor de pc con una foto adentro" class="imagen-escritorio">
    <img src="/public/images/web-mobile.png" alt="imagen de una pantalla de celular con una foto adentro" class="imagen-mobile">
    <strong><h3>Te dejamos todas las herramientas para que tu pantalla se vea correctamente en <br><em>todos tus dispositivos!</em><br>
    <i>(Incluido en todos los planes).</i></h3></strong>


</section>
<section class="banner-descuento">

    <a href="http://localhost:3000/registro">
        <img class="imagen-descuento" src="/public/images/descuento.png"    alt="imagen de descuento">
        <p class="texto-descuento">Registrate antes del 31 de diciembre del 2020 y obtené un  25% de descuento</p>
    </a>

</section>
<section class="productos">
    <h2>Armá tu página web como vos quieras</h2>
    <form action="http://localhost:3000/carrito" method="GET" class="contenedor-productos">
        <button class="contratar">
            <article class="productos-articulo">      
                <img class="productos-logo" src="/public/icons/web-color-borde.png" alt="imagen de una tienda"><br>
                <img class="medalla" src="/public/images/plan-oro.png" alt="imagen de una medalla de oro">
                <h3 class="tituloSuscripcionOro">Suscripción oro</h3>
                <ul>Incluye:
                    <li>Servicio de hosting</li>
                    <li>Atención personalizada de nuestro equipo de marketing y comercialización</li>
                    <li>Acceso a todas las plantillas y accesorios de disenio de páginas web</li>
                </ul>
                <span>Precio final por mes: $600</span><br>
                <span class="span1">Clickeá en la imagen para contratar el servicio</span>
            </article>
        </button>
    </form>
    <form action="http://localhost:3000/carrito" method="GET" class="contenedor-productos">
        <button class="contratar">
            <article class="productos-articulo">
                <img class="productos-logo" src="/public/icons/web-color-borde.png" alt="imagen de una tienda"><br>
                <img class="medalla" src="/public/images/plan-plata.png" alt="imagen de una medalla de plata">
                <h3 class="tituloSuscripcionPlata">Suscripción plata</h3>
                <ul>Incluye:
                    <li>Acceso a más de 100 plantillas y accesorios de disenio de páginas web</li>
                    <li>Atención personalizada de nuestro equipo de marketing y comercialización</li>
                </ul>
                <span>Precio final por mes: $300</span><br>
                <span class="span1">Clickeá en la imagen para contratar el servicio</span>
            </article>
        </button>
    </form>
    <form action="http://localhost:3000/carrito" method="GET" class="contenedor-productos">
        <button class="contratar">
            <article class="productos-articulo">
                <img class="productos-logo" src="/public/icons/web-color-borde.png" alt="imagen de una tienda"><br>
                <img class="medalla" src="/public/images/plan-bronce.png" alt="imagen de una medalla de bronce">
                <h3 class="tituloSuscripcionBronce">Suscripción bronce</h3>
                <ul>Incluye:
                    <li>Acceso a 50 plantillas y accesorios de disenio de páginas web</li>
                </ul>
                <span>Precio final por mes: $100</span><br>
                <span class="span1">Clickeá en la imagen para contratar el servicio</span>
            </article>
        </button>
    </form>
</section>

<!--Acá empieza el footer común a todas las páginas-->

<footer class="piePagina">
    <a name="contacto">
    <div class = "piePagina-redesSociales">
    <a href="https://www.facebook.com"> <img src="/public/icons/social-media/facebook.svg" alt="seguinos en facebook"></a>
    <a href="https://www.instgram.com"> <img src="/public/icons/social-media/instagram.svg" alt="seguinos en instagram"></a>
    <a href="https://www.whatsapp.com"> <img src="/public/icons/social-media/whatsapp.svg" alt="escribinos al whatsapp"></a>
    </div>
    <div class = "piePagina-contacto">
        <a href="mailto:tutienda@web.com">tutienda@web.com</a>
        <a href="tel:+54 0800-888-4363">Llamanos a nuestro 0800!</a>
        <a target="_blank" href="https://www.google.com.ar/maps/place/Av.+Corrientes+1538,+C1042AAO+CABA/@-34.6043326,-58.3909866,17z/data=!3m1!4b1!4m5!3m4!1s0x95bccac6ac9bdc79:0x269f5e7751aefbea!8m2!3d-34.604332!4d-58.388797">Av. Corrientes 1538 - CABA, Argentina.</a>
    </div>
    <br>
    <div class="piePagina-copyright"><p>Copyright © 2020 Tu Tienda Web S.R.L.</p></div>
    </a>
 </footer>
</main>

    
</body>
</html>