<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/styles/index-style.css">
<link rel="stylesheet" href="/public/styles/producto-style.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap" rel="stylesheet">
    <link href="/public/icons/logo-color.svg" rel="icon">
    <title>Tu Tienda Web</title>
</head>
<body>
<main class="principal">
<div class="barraSuperior">
    <a href="/">
        <img class="barraSuperior-logo" src="/public/logo/logo2d.png">
    </a>
    <nav class="barraSuperior-navbar">
        <div class="barraSuperior-navbar-desplegable">
            <a><i class="fa fa-bars"></i></a>
        </div>
        <ul class="barraSuperior-navlist">
            <li class="barraSuperior-navlist-links"><a href="/producto">Productos</a></li>
            <li class="barraSuperior-navlist-links"><a href="/#nosotros">Sobre nosotros</a></li>
            <li class="barraSuperior-navlist-links"><a href="#contacto">Contacto</a></li>
            <li class="barraSuperior-navlist-links"><a href="#">FAQ's</a></li>
        </ul>      
    </nav>
    <div class="barraSuperior-navExtra">
        <div class="barraSuperior-navExtra-usuario">
            <a class="barraSuperior-navExtra-usuario-registro" href="/registro">Registrarse</a>
            <a class="barraSuperior-navExtra-usuario-login" href="/login">Iniciar Sesión</a>
        </div>
        <a href="/carrito"><img class="barraSuperior-navExtra-carrito" src="/public/icons/logo-color-borde.svg"></a>
    </div>
</div>

<!--Acá termina la barra superior de navegación común a todas las paginas-->

<section class="bannerEmpezá">

        <article class="bannerEmpezá-article">

                    <strong><p class="bannerEmpezá-article-titulo">El lugar perfecto para crear tu página web profesional</p></strong>

                    <form action="#productos" method="GET">

                        <button>
                            Empezá Ya
                        </button>

                    </form>

        </article>

</section>

<article class="disenoBlanco">

        <h2 class="disenoBlanco-titulo">
            La libertad de crear la página web que quieras
        </h2>

        <p class="disenoBlanco-parrafo">
            Disena y creá tu propia página web con calidad profesional. Ya sea que estés mostrando tu trabajo o comenzando un blog, puedes hacerlo todo con el editor de páginas web de Tu Tienda Web.
        </p>

       <form action="#productos" method="GET" class="disenoBlanco-form">

            <button>
                Empezá Ya >
            </button>

        </form>

</article>

<section class="presenciaOnline">

    <article class="presenciaOnline-articlePrincipal">

        <h2>
            Construye una presencia online única
        </h2>

        <p>Para hacer tu propia página web sigue estos pasos</p>

    </article>

    <article class="presenciaOnline-article articleBorder1">

        <h3>Personalizá tu sitio web</h3>

        <p>Elegí una plantilla y personalizala como quieras, o responde algunas preguntas y obtené una página web gratis y exclusiva de forma automática</p>

    </article>

    <article class="presenciaOnline-article articleBorder2">

        <h3>Agregá funciones avanzadas</h3>

        <p>Creá un blog, hacé una página de noticias o armá tu presentación personal web para potenciar tu trabajo. Siempre podés agregar más funcionalidad a medida que crecés. No hay límites para tu creatividad ni tu crecimiento</p>

    </article>

    <article class="presenciaOnline-article articleBorder3">

        <h3>Web Responsive Design</h3>

        <p>Te dejamos todas las herramientas necesarias para que crees una página web que responda de manera automática y que se vea bien en los diferentes tipos de pantalla.</p>

    </article>

    <article class="presenciaOnline-article articleBorder4">

        <h3>Optimizá para los buscadores</h3>

        <p>Te ayudamos en tu plan de SEO para que todo el mundo te encuentre en Google. Respondé algunas preguntas sobre tu sitio web, ubicación y palabras clave, y recibí un plan de SEO personalizado para destarcarte online.</p>

    </article>

    <form action="#productos" method="GET" class="presenciaOnline-form">

        <button>
            Empezá Ya >
        </button>

    </form>

</section>

<section class="banner-versiones">

    <div class="banner-versiones-contenedorImagenResponsive">
        <img src="/public/images/web-pc2.png" alt="imagen de un monitor de pc con una foto adentro" class="imagen-escritorio spin-1">
        <img src="/public/images/web-mobile.png" alt="imagen de una pantalla de celular con una foto adentro" class="imagen-mobile spin-2">
    </div>
    <strong><h3>Te dejamos todas las herramientas para que tu pantalla se vea correctamente en <br>todos tus dispositivos!</h3></strong>


</section>

<article class="disenoAzul">

    <h2 class="disenoAzul-titulo">
        Editor simple y profesional de Tu Tienda Web: <br> <em style="font-size: 0.8em;"> Libertad total de diseño fácil de aplicar</em>
    </h2>

    <p class="disenoAzul-parrafo">
        Comenzá desde cero o elegí entre una de nuestras plantillas hechas por diseñadores profesionales para crear tu propio sitio. Con el sistema de arrastrar y soltar más innovador del mercado, podés personalizar o cambiar cualquier cosa. Hacé que tu sitio web cobre vida con fondos de video, efectos de desplazamiento y animaciones. Con el editor de <em>Tu Tienda Web</em> podés crear una hermosa página web profesional sin ayuda de nadie y sin pagar a terceros.
    </p>

    <form action="#productos" method="GET" class="disenoAzul-form">

        <button>
            Empezá Ya >
        </button>

    </form>

</article>

<article class="disenoBlanco">

    <h2 class="disenoBlanco-titulo">
        Tu Tienda Web IDA:
        tu página web en minutos
    </h2>

    <p class="disenoBlanco-parrafo">
        Respondé algunas preguntas simples y nuestra inteligencia de diseño artificial (IDA) construirá instantáneamente una página web a tu medida, con textos e imágenes personalizados. Elegí tu estilo, cambiá el diseño y agregá las funciones que necesites. Cuando estés listo, ¡estarás <em>"live"</em> con un solo click!
    </p>

    <form action="#productos" method="GET" class="disenoBlanco-form">

        <button>
            Empezá Ya >
        </button>

    </form>

</article>

<section class="banner-descuento">

    <a href="http://localhost:3000/registro">
        <img class="imagen-descuento" src="/public/icons/descuento-blanco-negro.png"    alt="imagen de descuento">
        <p class="texto-descuento">Registrate antes del 31 de diciembre del 2020 y obtené un  25% de descuento durante 3 meses.</p>
    </a>

</section>

<article class="disenoBlanco">

    <h2 class="disenoBlanco-titulo">
        Creador de logos
    </h2>

    <p class="disenoBlanco-parrafo">
        Diseñá y creá un logo profesional y construye la presencia online de tu marca
    </p>

    <form action="#productos" method="GET" class="disenoBlanco-form">

        <button>
            Empezá Ya >
        </button>

    </form>

</article>

<article class="disenoAzul">

    <h2 class="disenoAzul-titulo">
        Corvid de Tu Tienda Web: Plataforma de desarrollo abierto
    </h2>

    <p class="disenoAzul-parrafo">
        Creá aplicaciones web profesionales con serverless computing (arquitectura sin servidor) y codificación sin complicaciones. Administrá todo tu contenido desde base de datos integradas, agregá tu propio codigo IDE incorporado o trabajá en tu propio entorno y conectate a cientos de API. Además, obtené total libertad de diseño con el editor de <em>Tu Tienda Web</em> y las aplicaciones empresariales optimizadas.
    </p>

    <form action="#productos" method="GET" class="disenoAzul-form">

        <button>
            Empezá Ya >
        </button>

    </form>

</article>

<section class="productos" id="productos">
    <h2>¡Elegí una de nuestras 3 suscripciones y empezá a crear la página de tus sueños!</h2>
    <form action="http://localhost:3000/carrito" method="GET" class="contenedor-productos">
        <button class="contratar">
            <article class="productos-articulo">      
                <img class="productos-img" src="/public/icons/web-color-borde.png" alt="imagen de una tienda"><br>
                <div>
                    <img class="medalla" src="/public/images/plan-oro.png" alt="imagen de una medalla de oro">
                </div>
                <h3 class="tituloSuscripcionOro">Suscripción oro</h3>
                <ul>Incluye:
                    <li>Servicio de hosting</li>
                    <li>Servicio web Corvid para aplicaciones web profesionales</li>
                    <li>Creador de logos profesional</li>
                    <li>Todo lo que incluyen los planes anteriores</li>
                </ul>
                <span>Precio final por mes: $1200</span><br>
                <span class="span1">Clickeá en la imagen para contratar el servicio</span>
            </article>
        </button>
    </form>
    <form action="http://localhost:3000/carrito" method="GET" class="contenedor-productos">
        <button class="contratar">
            <article class="productos-articulo">
                <img class="productos-img" src="/public/icons/web-color-borde.png" alt="imagen de una tienda"><br>
                <div>
                    <img class="medalla" src="/public/images/plan-plata.png" alt="imagen de una medalla de plata">
                </div>
                <h3 class="tituloSuscripcionPlata">Suscripción plata</h3>
                <ul>Incluye:
                    <li>Servicio de Inteligencia de diseño artificial (IDA)</li>
                    <li>Atención personalizada de nuestro equipo de marketing y comercialización</li>
                    <li>Todo lo que incluyen las suscripciones anteriores</li>
                </ul>
                <span>Precio final por mes: $600</span><br>
                <span class="span1">Clickeá en la imagen para contratar el servicio</span>
            </article>
        </button>
    </form>
    <form action="http://localhost:3000/carrito" method="GET" class="contenedor-productos">
        <button class="contratar">
            <article class="productos-articulo">
                <img class="productos-img" src="/public/icons/web-color-borde.png" alt="imagen de una tienda"><br>
                <div>
                    <img class="medalla" src="/public/images/plan-bronce.png" alt="imagen de una medalla de bronce">
                </div>
                <h3 class="tituloSuscripcionBronce">Suscripción bronce</h3>
                <ul>Incluye:
                    <li>Acceso a todas nuestras plantillas y accesorios de diseño web</li>
                    <li>Herramientas para diseño adaptativo</li>
                    <li>Plan SEO para posicionarte mejor en Google</li>
                </ul>
                <span>Precio final por mes: $300</span><br>
                <span class="span1">Clickeá en la imagen para contratar el servicio</span>
            </article>
        </button>
    </form>
</section>

<!--Acá empieza el footer común a todas las páginas-->

<footer class="piePagina">
    <a name="contacto">
    <div class = "piePagina-redesSociales">
    <a href="https://www.facebook.com"> <img src="/public/icons/social-media/facebook.svg" alt="seguinos en facebook"></a>
    <a href="https://www.instgram.com"> <img src="/public/icons/social-media/instagram.svg" alt="seguinos en instagram"></a>
    <a href="https://www.whatsapp.com"> <img src="/public/icons/social-media/whatsapp.svg" alt="escribinos al whatsapp"></a>
    </div>
    <div class = "piePagina-contacto">
        <a href="mailto:tutienda@web.com">tutienda@web.com</a>
        <a target="_blank" href="https://www.google.com.ar/maps/place/Av.+Corrientes+1538,+C1042AAO+CABA/@-34.6043326,-58.3909866,17z/data=!3m1!4b1!4m5!3m4!1s0x95bccac6ac9bdc79:0x269f5e7751aefbea!8m2!3d-34.604332!4d-58.388797">Av. Corrientes 1538 - CABA, Argentina.</a>
        <a href="tel:+54 0800-888-4363">Llamanos a nuestro 0800!</a>
    </div>
    <br>
    <div class="piePagina-copyright"><p>Copyright © 2020 <em>Tu Tienda Web</em> S.R.L.</p></div>
    </a>
 </footer>
</main>

    
</body>
</html>