<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/styles/index-style.css">
    <link href="/public/icons/logo-color.svg" rel="icon">
    <title>Tu Tienda Web</title>
</head>
<body>
<main class="principal">
<div class="barraSuperior">
    <img class="logo" src="/public/logo/logo2d.png">
    <nav class="navbar">
        <ul class="navlist">
            <li class="listlinks"><a href="#">Productos</a></li>
            <li class="listlinks"><a href="#">Sobre nosotros</a></li>
            <li class="listlinks"><a href="#">Contacto</a></li>
            <li class="listlinks"><a href="#">FAQ's</a></li>
        </ul>      
    </nav>
    <div class="navExtra">
        <a class="login" href="#">Iniciar Sesión</a>
        <a href="/login.html"><img class="carrito" src="/public/icons/logo-color-borde.svg"></a>
    </div>
</div>


<!--Acá iría el contenido-->

<footer>  
    <div class = "redes-sociales">
    <a href="https://www.facebook.com"> <img src="/public/icons/social-media/facebook.svg" alt="seguinos en facebook"></a>
    <a href="https://www.instgram.com"> <img src="/public/icons/social-media/instagram.svg" alt="seguinos en instagram"></a>
    <a href="https://www.whatsapp.com"> <img src="/public/icons/social-media/whatsapp.svg" alt="escribinos al whatsapp"></a>
    </div>
    <div class = "contacto">
        <a href="mailto:tutienda@web.com">tutienda@web.com</a>
        <a href="tel:+54 0800-888-4363">Llamanos a nuestro 0800!</a>
        <a target="_blank" href="https://www.google.com.ar/maps/place/Av.+Corrientes+1538,+C1042AAO+CABA/@-34.6043326,-58.3909866,17z/data=!3m1!4b1!4m5!3m4!1s0x95bccac6ac9bdc79:0x269f5e7751aefbea!8m2!3d-34.604332!4d-58.388797">Av. Corrientes 1538 - CABA, Argentina.</a>
    </div>
    <br>
    <div class="copyright"><p>Copyright © 2020 Tu Tienda Web S.R.L.</p></div>
 </footer>
</main>

    
</body>
</html>