
<label for="name"style="padding: 5px; margin: 2% auto; border-radius: 3px;">Elegí el nombre del producto:</label> <br>
<input type="text" style="padding: 5px; margin: 2% auto; border-radius: 3px;width: 100%;" name="name" value="Escribí el texto aquí"> <br>

<label for="type" style="padding: 5px; margin: 2% auto; border-radius: 3px;">Elegí el tipo de producto:</label> <br>
<input type="text" style="padding: 5px; margin: 2% auto; border-radius: 3px; width: 100%;" name="type" value="Escribí aquí el nombre del producto sin mayúsculas ni espacios">

<section class="banner1">
    <h2>
        <!--elegí el título del Banner 1-->
        <label for="titleBanner1">Elegí el título del banner del producto:</label>
        <input type="text"  style="padding: 5px; margin: 2% auto; border-radius: 3px;width: 100%;" name="titleBanner1" value="Escribí el texto aquí">
    </h2>
    <p>
        <!--elegí el título del Banner 1-->
        <label for="subtitleBanner1">Elegí el subtítulo del banner del producto:</label>
        <input type="text"  style="padding: 5px; margin: 2% auto; border-radius: 3px;width: 100%;" name="subtitleBanner1" value="Escribí el texto aquí">
    </p>
</section>

<section class="disenoBlanco">
    <article class="disenoBlanco-article1">
        <h2 class="disenoBlanco-article1-tituloPrincipal">
            <!--Elegir titulo seccion 1-->
            <label for="atitle">Elegí el titulo de la seccion 1:</label> <br>
            <input type="text"  style="padding: 5px; margin: 2% auto; border-radius: 3px;width: 100%;" name="atitle" value="Escribí el texto aquí">
        </h2>
    </article>
    <div class="disenoBlanco-containerArticle2">
        <article class="disenoBlanco-article2">
            <h3 class="disenoBlanco-article2-titulo">
                <!--Elegir icono.1 seccion 1--> <br>
                <label for="aicon1">Subí el icono que describe el beneficio correspondiente:</label><br>
                <input type="file" name="aicon1" id="aicon1" accept="image/svg"> <br>
                <!--Elegir subtitulo.1 seccion 1-->
                <label for="asubtitle1">Elegí el subtítulo del beneficio correspondiente:</label> <br>
                <input type="text"  style="padding: 5px; margin: 2% auto; border-radius: 3px;width: 100%;" name="asubtitle1" value="Escribí el texto aquí">
            </h3>
            <p  class="disenoBlanco-article2-parrafo">
                <!--Elegir descripcion.1 seccion 1-->
                <label for="adescription1">Elegí la descripcion del beneficio correspondiente:</label> <br>
                <input type="text"  style="padding: 5px; margin: 2% auto; border-radius: 3px;width: 100%;" name="adescription1" value="Escribí el texto aquí">
            </p>
        </article>
        <article class="disenoBlanco-article2">
            <h3 class="disenoBlanco-article2-titulo">
                <!--Elegir icono.2 seccion 1--> <br>
                <label for="aicon2">Subí el icono que describe el beneficio correspondiente:</label><br>
                <input type="file" name="aicon2" id="aicon2" accept="image/svg"> <br>
                <!--Elegir subtitulo.2 seccion 1-->
                <label for="asubtitle2">Elegí el subtítulo del beneficio correspondiente:</label> <br>
                <input type="text"  style="padding: 5px; margin: 2% auto; border-radius: 3px;width: 100%;" name="asubtitle2" value="Escribí el texto aquí">
            </h3>
            <p  class="disenoBlanco-article2-parrafo">
                <!--Elegir descripcion.2 seccion 1-->
                <label for="adescription2">Elegí la descripcion del beneficio correspondiente:</label> <br>
                <input type="text"  style="padding: 5px; margin: 2% auto; border-radius: 3px;width: 100%;" name="adescription2" value="Escribí el texto aquí">
            </p>
        </article>
        <article class="disenoBlanco-article2">
            <h3 class="disenoBlanco-article2-titulo">
                <!--Elegir icono.3 seccion 1--> <br>
                <label for="aicon3">Subí el icono que describe el beneficio correspondiente:</label><br>
                <input type="file" name="aicon3" id="aicon3" accept="image/svg"> <br>
                <!--Elegir subtitulo.3 seccion 1-->
                <label for="asubtitle3">Elegí el subtítulo del beneficio correspondiente:</label> <br>
                <input type="text"  style="padding: 5px; margin: 2% auto; border-radius: 3px;width: 100%;" name="asubtitle3" value="Escribí el texto aquí">
            </h3>
            <p  class="disenoBlanco-article2-parrafo">
                <!--Elegir descripcion.3 seccion 1-->
                <label for="adescription3">Elegí la descripcion del beneficio correspondiente:</label> <br>
                <input type="text"  style="padding: 5px; margin: 2% auto; border-radius: 3px;width: 100%;" name="adescription3" value="Escribí el texto aquí">
            </p>
        </article>
        <article class="disenoBlanco-article2">
            <h3 class="disenoBlanco-article2-titulo">
                <!--Elegir icono.4 seccion 1--> <br>
                <label for="aicon4">Subí el icono que describe el beneficio correspondiente:</label><br>
                <input type="file" name="aicon4" id="aicon4" accept="image/svg"> <br>
                <!--Elegir subtitulo.3 seccion 1-->
                <label for="asubtitle4">Elegí el subtítulo del beneficio correspondiente:</label> <br>
                <input type="text"  style="padding: 5px; margin: 2% auto; border-radius: 3px;width: 100%;" name="asubtitle4" value="Escribí el texto aquí">
            </h3>
            <p  class="disenoBlanco-article2-parrafo">
                <!--Elegir descripcion.3 seccion 1-->
                <label for="adescription4">Elegí la descripcion del beneficio correspondiente:</label> <br>
                <input type="text"  style="padding: 5px; margin: 2% auto; border-radius: 3px;width: 100%;" name="adescription4" value="Escribí el texto aquí">
            </p>
        </article>
    </div>
    <article class="disenoBlanco-articleImg">
        <label for="aimage">Subí una imagen que describa el beneficio correspondiente:</label><br>
        <input type="file" name="aimage" id="aimage" accept="image/png"> <br>
    </article>
</section>


<section class="disenoAzul">
<article class="disenoAzul-article1">
    <h2 class="disenoAzul-article1-tituloPrincipal">
        <!--Elegir titulo seccion 2-->
        <label for="btitle">Elegí el titulo de la seccion 2:</label> <br>
        <input type="text"  style="padding: 5px; margin: 2% auto; border-radius: 3px;width: 100%;" name="btitle" value="Escribí el texto aquí">
    </h2>
</article>
<article class="disenoAzul-articleImg">
    <!--Elegir imagen seccion 2-->
    <label for="bimage">Subí una imagen que describa el beneficio correspondiente:</label><br>
    <input type="file" name="bimage" id="bimage" accept="image/png"> <br>
</article>
<div class="disenoAzul-containerArticle2">
    <article class="disenoAzul-article2">
        <h3 class="disenoAzul-article2-titulo">
                <!--Elegir icono.1 seccion 2--> <br>
                <label for="bicon1">Subí el icono que describe el beneficio correspondiente:</label><br>
                <input type="file" name="bicon1" id="bicon1" accept="image/svg"> <br>
                <!--Elegir subtitulo.1 seccion 2-->
                <label for="bsubtitle1">Elegí el subtítulo del beneficio correspondiente:</label> <br>
                <input type="text"  style="padding: 5px; margin: 2% auto; border-radius: 3px;width: 100%;" name="absubtitle1" value="Escribí el texto aquí">
        </h3>
        <p  class="disenoAzul-article2-parrafo">
            <!--Elegir descripcion.1 seccion 2-->
            <label for="bdescription1">Elegí la descripcion del beneficio correspondiente:</label> <br>
            <input type="text"  style="padding: 5px; margin: 2% auto; border-radius: 3px;width: 100%;" name="bdescription1" value="Escribí el texto aquí">
        </p>
    </article>
    <article class="disenoAzul-article2">
        <h3 class="disenoAzul-article2-titulo">
                <!--Elegir icono.1 seccion 2--> <br>
                <label for="bicon2">Subí el icono que describe el beneficio correspondiente:</label><br>
                <input type="file" name="bicon2" id="bicon2" accept="image/svg"> <br>
                <!--Elegir subtitulo.1 seccion 2-->
                <label for="bsubtitle2">Elegí el subtítulo del beneficio correspondiente:</label> <br>
                <input type="text"  style="padding: 5px; margin: 2% auto; border-radius: 3px;width: 100%;" name="absubtitle2" value="Escribí el texto aquí">
        </h3>
        <p  class="disenoAzul-article2-parrafo">
            <!--Elegir descripcion.1 seccion 2-->
            <label for="bdescription2">Elegí la descripcion del beneficio correspondiente:</label> <br>
            <input type="text"  style="padding: 5px; margin: 2% auto; border-radius: 3px;width: 100%;" name="bdescription2" value="Escribí el texto aquí">
        </p>
    </article>
    <article class="disenoAzul-article2">
        <h3 class="disenoAzul-article2-titulo">
                <!--Elegir icono.1 seccion 2--> <br>
                <label for="bicon3">Subí el icono que describe el beneficio correspondiente:</label><br>
                <input type="file" name="bicon3" id="bicon3" accept="image/svg"> <br>
                <!--Elegir subtitulo.1 seccion 2-->
                <label for="bsubtitle3">Elegí el subtítulo del beneficio correspondiente:</label> <br>
                <input type="text"  style="padding: 5px; margin: 2% auto; border-radius: 3px;width: 100%;" name="absubtitle3" value="Escribí el texto aquí">
        </h3>
        <p  class="disenoAzul-article2-parrafo">
            <!--Elegir descripcion.1 seccion 2-->
            <label for="bdescription3">Elegí la descripcion del beneficio correspondiente:</label> <br>
            <input type="text"  style="padding: 5px; margin: 2% auto; border-radius: 3px;width: 100%;" name="bdescription3" value="Escribí el texto aquí">
        </p>
    </article>
    <article class="disenoAzul-article2">
        <h3 class="disenoAzul-article2-titulo">
                <!--Elegir icono.1 seccion 2--> <br>
                <label for="bicon4">Subí el icono que describe el beneficio correspondiente:</label><br>
                <input type="file" name="bicon4" id="bicon4" accept="image/svg"> <br>
                <!--Elegir subtitulo.1 seccion 2-->
                <label for="bsubtitle4">Elegí el subtítulo del beneficio correspondiente:</label> <br>
                <input type="text"  style="padding: 5px; margin: 2% auto; border-radius: 3px;width: 100%;" name="absubtitle4" value="Escribí el texto aquí">
        </h3>
        <p  class="disenoAzul-article2-parrafo">
            <!--Elegir descripcion.1 seccion 2-->
            <label for="bdescription4">Elegí la descripcion del beneficio correspondiente:</label> <br>
            <input type="text"  style="padding: 5px; margin: 2% auto; border-radius: 3px;width: 100%;" name="bdescription4" value="Escribí el texto aquí">
        </p>
    </article>
</div>
</section>

<section class="disenoBlanco">
    <article class="disenoBlanco-article1">
        <h2 class="disenoBlanco-article1-tituloPrincipal">
            <label for="atitle">Elegí el titulo de la seccion 3:</label> <br>
            <input type="text"  style="padding: 5px; margin: 2% auto; border-radius: 3px;width: 100%;" name="atitle" value="Escribí el texto aquí">
        </h2>
    </article>
    <div class="disenoBlanco-containerArticle2">
        <article class="disenoBlanco-article2">
            <h3 class="disenoBlanco-article2-titulo">
                <!--Elegir icono.1 seccion 3--> <br>
                <label for="cicon1">Subí el icono que describe el beneficio correspondiente:</label><br>
                <input type="file" name="cicon1" id="cicon1" accept="image/svg"> <br>
                <!--Elegir subtitulo.1 seccion 3-->
                <label for="csubtitle1">Elegí el subtítulo del beneficio correspondiente:</label> <br>
                <input type="text"  style="padding: 5px; margin: 2% auto; border-radius: 3px;width: 100%;" name="csubtitle1" value="Escribí el texto aquí">
            </h3>
            <p  class="disenoBlanco-article2-parrafo">
                <!--Elegir descripcion.1 seccion 3-->
                <label for="cdescription1">Elegí la descripcion del beneficio correspondiente:</label> <br>
                <input type="text"  style="padding: 5px; margin: 2% auto; border-radius: 3px;width: 100%;" name="cdescription1" value="Escribí el texto aquí">
            </p>
        </article>
        <article class="disenoBlanco-article2">
            <h3 class="disenoBlanco-article2-titulo">
                <!--Elegir icono.2 seccion 3--> <br>
                <label for="cicon2">Subí el icono que describe el beneficio correspondiente:</label><br>
                <input type="file" name="cicon2" id="cicon2" accept="image/svg"> <br>
                <!--Elegir subtitulo.2 seccion 1-->
                <label for="csubtitle2">Elegí el subtítulo del beneficio correspondiente:</label> <br>
                <input type="text"  style="padding: 5px; margin: 2% auto; border-radius: 3px;width: 100%;" name="csubtitle2" value="Escribí el texto aquí">
            </h3>
            <p  class="disenoBlanco-article2-parrafo">
                <!--Elegir descripcion.2 seccion 3-->
                <label for="cdescription2">Elegí la descripcion del beneficio correspondiente:</label> <br>
                <input type="text"  style="padding: 5px; margin: 2% auto; border-radius: 3px;width: 100%;" name="cdescription2" value="Escribí el texto aquí">
            </p>
        </article>
        <article class="disenoBlanco-article2">
            <h3 class="disenoBlanco-article2-titulo">
                <!--Elegir icono.3 seccion 3--> <br>
                <label for="cicon3">Subí el icono que describe el beneficio correspondiente:</label><br>
                <input type="file" name="cicon3" id="cicon3" accept="image/svg"> <br>
                <!--Elegir subtitulo.3 seccion 3-->
                <label for="csubtitle3">Elegí el subtítulo del beneficio correspondiente:</label> <br>
                <input type="text"  style="padding: 5px; margin: 2% auto; border-radius: 3px;width: 100%;" name="csubtitle3" value="Escribí el texto aquí">
            </h3>
            <p  class="disenoBlanco-article2-parrafo">
                <!--Elegir descripcion.3 seccion 3-->
                <label for="cdescription3">Elegí la descripcion del beneficio correspondiente:</label> <br>
                <input type="text"  style="padding: 5px; margin: 2% auto; border-radius: 3px;width: 100%;" name="cdescription3" value="Escribí el texto aquí">
            </p>
        </article>
        <article class="disenoBlanco-article2">
            <h3 class="disenoBlanco-article2-titulo">
                <!--Elegir icono.4 seccion 1--> <br>
                <label for="cicon4">Subí el icono que describe el beneficio correspondiente:</label><br>
                <input type="file" name="cicon4" id="cicon4" accept="image/svg"> <br>
                <!--Elegir subtitulo.3 seccion 3-->
                <label for="csubtitle4">Elegí el subtítulo del beneficio correspondiente:</label> <br>
                <input type="text"  style="padding: 5px; margin: 2% auto; border-radius: 3px;width: 100%;" name="csubtitle4" value="Escribí el texto aquí">
            </h3>
            <p  class="disenoBlanco-article2-parrafo">
                <!--Elegir descripcion.3 seccion 3-->
                <label for="cdescription4">Elegí la descripcion del beneficio correspondiente:</label> <br>
                <input type="text"  style="padding: 5px; margin: 2% auto; border-radius: 3px;width: 100%;" name="cdescription4" value="Escribí el texto aquí">
            </p>
        </article>
    </div>
    <article class="disenoBlanco-articleImg">
        <label for="cimage">Subí una imagen que describa el beneficio correspondiente:</label><br>
        <input type="file" name="cimage" id="cimage" accept="image/png"> <br>
    </article>
</section>

<section class="disenoAzul">
    <article class="disenoAzul-article1">
        <h2 class="disenoAzul-article1-tituloPrincipal">
            <!--Elegir titulo seccion 4-->
            <label for="dtitle">Elegí el titulo de la seccion 4:</label> <br>
            <input type="text"  style="padding: 5px; margin: 2% auto; border-radius: 3px;width: 100%;" name="dtitle" value="Escribí el texto aquí">
        </h2>
    </article>
    <article class="disenoAzul-articleImg">
        <!--Elegir imagen seccion 4-->
        <label for="dimage">Subí una imagen que describa el beneficio correspondiente:</label><br>
        <input type="file" name="dimage" id="dimage" accept="image/png"> <br>
    </article>
    <div class="disenoAzul-containerArticle2">
        <article class="disenoAzul-article2">
            <h3 class="disenoAzul-article2-titulo">
                    <!--Elegir icono.1 seccion 4--> <br>
                    <label for="dicon1">Subí el icono que describe el beneficio correspondiente:</label><br>
                    <input type="file" name="dicon1" id="dicon1" accept="image/svg"> <br>
                    <!--Elegir subtitulo.1 seccion 4-->
                    <label for="dsubtitle1">Elegí el subtítulo del beneficio correspondiente:</label> <br>
                    <input type="text"  style="padding: 5px; margin: 2% auto; border-radius: 3px;width: 100%;" name="dbsubtitle1" value="Escribí el texto aquí">
            </h3>
            <p  class="disenoAzul-article2-parrafo">
                <!--Elegir descripcion.1 seccion 4-->
                <label for="ddescription1">Elegí la descripcion del beneficio correspondiente:</label> <br>
                <input type="text"  style="padding: 5px; margin: 2% auto; border-radius: 3px;width: 100%;" name="ddescription1" value="Escribí el texto aquí">
            </p>
        </article>
        <article class="disenoAzul-article2">
            <h3 class="disenoAzul-article2-titulo">
                    <!--Elegir icono.1 seccion 4--> <br>
                    <label for="dicon2">Subí el icono que describe el beneficio correspondiente:</label><br>
                    <input type="file" name="dicon2" id="dicon2" accept="image/svg"> <br>
                    <!--Elegir subtitulo.1 seccion 2-->
                    <label for="dsubtitle2">Elegí el subtítulo del beneficio correspondiente:</label> <br>
                    <input type="text"  style="padding: 5px; margin: 2% auto; border-radius: 3px;width: 100%;" name="dbsubtitle2" value="Escribí el texto aquí">
            </h3>
            <p  class="disenoAzul-article2-parrafo">
                <!--Elegir descripcion.1 seccion 4-->
                <label for="ddescription2">Elegí la descripcion del beneficio correspondiente:</label> <br>
                <input type="text"  style="padding: 5px; margin: 2% auto; border-radius: 3px;width: 100%;" name="ddescription2" value="Escribí el texto aquí">
            </p>
        </article>
        <article class="disenoAzul-article2">
            <h3 class="disenoAzul-article2-titulo">
                    <!--Elegir icono.1 seccion 4--> <br>
                    <label for="dicon3">Subí el icono que describe el beneficio correspondiente:</label><br>
                    <input type="file" name="dicon3" id="dicon3" accept="image/svg"> <br>
                    <!--Elegir subtitulo.1 seccion 2-->
                    <label for="dsubtitle3">Elegí el subtítulo del beneficio correspondiente:</label> <br>
                    <input type="text"  style="padding: 5px; margin: 2% auto; border-radius: 3px;width: 100%;" name="dbsubtitle3" value="Escribí el texto aquí">
            </h3>
            <p  class="disenoAzul-article2-parrafo">
                <!--Elegir descripcion.1 seccion 4-->
                <label for="ddescription3">Elegí la descripcion del beneficio correspondiente:</label> <br>
                <input type="text"  style="padding: 5px; margin: 2% auto; border-radius: 3px;width: 100%;" name="ddescription3" value="Escribí el texto aquí">
            </p>
        </article>
        <article class="disenoAzul-article2">
            <h3 class="disenoAzul-article2-titulo">
                    <!--Elegir icono.1 seccion 4--> <br>
                    <label for="dicon4">Subí el icono que describe el beneficio correspondiente:</label><br>
                    <input type="file" name="dicon4" id="dicon4" accept="image/svg"> <br>
                    <!--Elegir subtitulo.1 seccion 2-->
                    <label for="dsubtitle4">Elegí el subtítulo del beneficio correspondiente:</label> <br>
                    <input type="text"  style="padding: 5px; margin: 2% auto; border-radius: 3px;width: 100%;" name="dbsubtitle4" value="Escribí el texto aquí">
            </h3>
            <p  class="disenoAzul-article2-parrafo">
                <!--Elegir descripcion.1 seccion 4s-->
                <label for="ddescription4">Elegí la descripcion del beneficio correspondiente:</label> <br>
                <input type="text"  style="padding: 5px; margin: 2% auto; border-radius: 3px;width: 100%;" name="ddescription4" value="Escribí el texto aquí">
            </p>
        </article>
    </div>
    </section>

    <section class="disenoBlanco">
        <article class="disenoBlanco-article1">
            <h2 class="disenoBlanco-article1-tituloPrincipal">
                <label for="atitle">Elegí el titulo de la seccion 5:</label> <br>
                <input type="text"  style="padding: 5px; margin: 2% auto; border-radius: 3px;width: 100%;" name="atitle" value="Escribí el texto aquí">
            </h2>
        </article>
        <div class="disenoBlanco-containerArticle2">
            <article class="disenoBlanco-article2">
                <h3 class="disenoBlanco-article2-titulo">
                    <!--Elegir icono.1 seccion 5--> <br>
                    <label for="eicon1">Subí el icono que describe el beneficio correspondiente:</label><br>
                    <input type="file" name="eicon1" id="eicon1" accept="image/svg"> <br>
                    <!--Elegir subtitulo.1 seccion 5-->
                    <label for="esubtitle1">Elegí el subtítulo del beneficio correspondiente:</label> <br>
                    <input type="text"  style="padding: 5px; margin: 2% auto; border-radius: 3px;width: 100%;" name="esubtitle1" value="Escribí el texto aquí">
                </h3>
                <p  class="disenoBlanco-article2-parrafo">
                    <!--Elegir descripcion.1 seccion 5-->
                    <label for="edescription1">Elegí la descripcion del beneficio correspondiente:</label> <br>
                    <input type="text"  style="padding: 5px; margin: 2% auto; border-radius: 3px;width: 100%;" name="edescription1" value="Escribí el texto aquí">
                </p>
            </article>
            <article class="disenoBlanco-article2">
                <h3 class="disenoBlanco-article2-titulo">
                    <!--Elegir icono.2 seccion 5--> <br>
                    <label for="eicon2">Subí el icono que describe el beneficio correspondiente:</label><br>
                    <input type="file" name="eicon2" id="eicon2" accept="image/svg"> <br>
                    <!--Elegir subtitulo.2 seccion 5-->
                    <label for="esubtitle2">Elegí el subtítulo del beneficio correspondiente:</label> <br>
                    <input type="text"  style="padding: 5px; margin: 2% auto; border-radius: 3px;width: 100%;" name="esubtitle2" value="Escribí el texto aquí">
                </h3>
                <p  class="disenoBlanco-article2-parrafo">
                    <!--Elegir descripcion.2 seccion 5-->
                    <label for="edescription2">Elegí la descripcion del beneficio correspondiente:</label> <br>
                    <input type="text"  style="padding: 5px; margin: 2% auto; border-radius: 3px;width: 100%;" name="edescription2" value="Escribí el texto aquí">
                </p>
            </article>
            <article class="disenoBlanco-article2">
                <h3 class="disenoBlanco-article2-titulo">
                    <!--Elegir icono.3 seccion 5--> <br>
                    <label for="eicon3">Subí el icono que describe el beneficio correspondiente:</label><br>
                    <input type="file" name="eicon3" id="eicon3" accept="image/svg"> <br>
                    <!--Elegir subtitulo.3 seccion 5-->
                    <label for="esubtitle3">Elegí el subtítulo del beneficio correspondiente:</label> <br>
                    <input type="text"  style="padding: 5px; margin: 2% auto; border-radius: 3px;width: 100%;" name="esubtitle3" value="Escribí el texto aquí">
                </h3>
                <p  class="disenoBlanco-article2-parrafo">
                    <!--Elegir descripcion.3 seccion 5-->
                    <label for="edescription3">Elegí la descripcion del beneficio correspondiente:</label> <br>
                    <input type="text"  style="padding: 5px; margin: 2% auto; border-radius: 3px;width: 100%;" name="edescription3" value="Escribí el texto aquí">
                </p>
            </article>
            <article class="disenoBlanco-article2">
                <h3 class="disenoBlanco-article2-titulo">
                    <!--Elegir icono.4 seccion 5--> <br>
                    <label for="eicon4">Subí el icono que describe el beneficio correspondiente:</label><br>
                    <input type="file" name="eicon4" id="eicon4" accept="image/svg"> <br>
                    <!--Elegir subtitulo.3 seccion 5-->
                    <label for="esubtitle4">Elegí el subtítulo del beneficio correspondiente:</label> <br>
                    <input type="text"  style="padding: 5px; margin: 2% auto; border-radius: 3px;width: 100%;" name="esubtitle4" value="Escribí el texto aquí">
                </h3>
                <p  class="disenoBlanco-article2-parrafo">
                    <!--Elegir descripcion.3 seccion 5-->
                    <label for="edescription4">Elegí la descripcion del beneficio correspondiente:</label> <br>
                    <input type="text"  style="padding: 5px; margin: 2% auto; border-radius: 3px;width: 100%;" name="edescription4" value="Escribí el texto aquí">
                </p>
            </article>
        </div>
        <article class="disenoBlanco-articleImg">
            <label for="eimage">Subí una imagen que describa el beneficio correspondiente:</label><br>
            <input type="file" name="eimage" id="eimage" accept="image/png"> <br>
        </article>
    </section>

<section class="contenedorProductos" id="contenedorProductos">
<h2>¡Elegí una de nuestras suscripciones y potenciá tu negocio digitalmente!</h2>
<!--Elegir imagen del producto-->
<label for="image">Elegí una imagen que describa el producto</label> <br>
<input type="file" name="image" id="image">
<!--Definir las 3 categorías que tendrá el producto-->
<label for="category1">Definí la categoría 1 que tendrá el producto:</label> <br>
<input type="text" name="category1" value="Escribí acá el nombre de la categoría 1">
<label for="category2">Definí la categoría 2 que tendrá el producto:</label> <br>
<input type="text" name="category2" value="Escribí acá el nombre de la categoría 2">
<label for="category3">Definí la categoría 3 que tendrá el producto:</label> <br>
<input type="text" name="category3" value="Escribí acá el nombre de la categoría 3">
        <table>
            <tr>
                <th>Beneficio</th>
                <th> 
                    <div class="contenedorMedalla">
                        <!--Elegir imagen de la categoria 1-->
                        <label for="categoryImage1">Subí la imagen que describe la categoría del producto:</label>
                        <input type="file" name="categoryImage1" id="categoryImage1" accept="image/png image/jpg" >
                    </div>
                </th>
                <th>
                    <div>
                        <!--Elegir imagen de la categoria 2-->
                        <label for="categoryImage2">Subí la imagen que describe la categoría del producto:</label>
                        <input type="file" name="categoryImage2" id="categoryImage2" accept="image/png image/jpg" >
                    </div>
                </th>
                <th>
                    <div>
                        <!--Elegir imagen de la categoria 3-->
                        <label for="categoryImage3">Subí la imagen que describe la categoría del producto:</label>
                        <input type="file" name="categoryImage3" id="categoryImage3" accept="image/png image/jpg" >
                    </div>
                </th>
            </tr>
            <tr>
                <td class="beneficio">
                    Costo por transacción
                </td>
                <td>
                   <!--Elegir costo por transacción categoria 1-->
                   <label for="costoTransaccion[1]">Elegí el costo por transacción de la categoría 1:</label>
                   <input type="number" name="costoTransaccion[1]" id="costoTransaccion[1]">
                </td>
                <td>
                    <!--Elegir costo por transacción categoria 2-->
                    <label for="costoTransaccion[2]">Elegí el costo por transacción de la categoría 2:</label>
                    <input type="number" name="costoTransaccion[2]" id="costoTransaccion[2]">
                </td>
                <td>
                    <!--Elegir costo por transacción categoria 3-->
                    <label for="costoTransaccion[3]">Elegí el costo por transacción de la categoría 1:</label>
                    <input type="number" name="costoTransaccion[3]" id="costoTransaccion[3]">
                </td>
            </tr>
            <tr>
                <td class="beneficio">
                    Cantidad de secciones
                </td>
                <td>
                    <!--Elegir cantidad de secciones categoria 1-->
                    <label for="cantidadSecciones1">Elegí la cantidad de secciones de la categoría 1:</label>
                    <input type="number" name="cantidadSecciones1" id="cantidadSecciones1">
                </td>
                <td>
                    <!--Elegir cantidad de secciones categoria 2-->
                    <label for="cantidadSecciones2">Elegí la cantidad de secciones de la categoría 2:</label>
                    <input type="number" name="cantidadSecciones2" id="cantidadSecciones2">
                </td>
                <td>
                    <!--Elegir cantidad de secciones categoria 3-->
                    <label for="cantidadSecciones3">Elegí la cantidad de secciones de la categoría 3:</label>
                    <input type="number" name="cantidadSecciones3" id="cantidadSecciones3">
                </td>
            </tr>           
                <tr>
                <td class="beneficio">
                    <!--Elegir titulo beneficio 1-->
                    <label for="a[0]">Elegí el titulo del beneficio 1:</label>
                    <input type="text" name="a[0]" value="Escribí el título aquí">
                </td>
                <td>
                    <!--Elegir SI O NO para beneficio 1 categoria 1-->
                </td>
                <td>
                    <!--Elegir SI O NO para beneficio 1 categoria 2-->
                </td>
                <td>
                    <!--Elegir SI O NO para beneficio 1 categoria 3-->
                </td>
            </tr>
            <tr>
                <td class="beneficio">
                    <!--Elegir titulo beneficio 2-->
                </td>
                <td>
                    <!--Elegir SI O NO para beneficio 2 categoria 1-->
                </td>
                <td>
                    <!--Elegir SI O NO para beneficio 2 categoria 2-->
                </td>
                <td>
                    <!--Elegir SI O NO para beneficio 2 categoria 3-->
                </td>
            </tr>
            <tr>
                <td class="beneficio">
                    <!--Elegir titulo beneficio 3-->
                </td>
                <td>
                    <!--Elegir SI O NO para beneficio 3 categoria 1-->
                </td>
                <td>
                    <!--Elegir SI O NO para beneficio 3 categoria 2-->
                </td>
                <td>
                    <!--Elegir SI O NO para beneficio 3 categoria 3-->
                </td>
            </tr>
            <tr>
                <td class="beneficio">
                    <!--Elegir titulo beneficio 4-->
                </td>
                <td>
                    <!--Elegir SI O NO para beneficio 4 categoria 1-->
                </td>
                <td>
                    <!--Elegir SI O NO para beneficio 4 categoria 2-->
                </td>
                <td>
                    <!--Elegir SI O NO para beneficio 4 categoria 3-->
                </td>
            </tr>
            <tr>
                <td class="beneficio">
                    <!--Elegir titulo beneficio 5-->
                </td>
                <td>
                    <!--Elegir SI O NO para beneficio 5 categoria 1-->
                </td>
                <td>
                    <!--Elegir SI O NO para beneficio 5 categoria 2-->
                </td>
                <td>
                    <!--Elegir SI O NO para beneficio 5 categoria 3-->
                </td>
            </tr>
            <tr>
                <td class="beneficio">
                    <!--Elegir titulo beneficio 6-->
                </td>
                <td>
                    <!--Elegir SI O NO para beneficio 6 categoria 1-->
                </td>
                <td>
                    <!--Elegir SI O NO para beneficio 6 categoria 2-->
                </td>
                <td>
                    <!--Elegir SI O NO para beneficio 6 categoria 3-->
                </td>
            </tr>
            <tr>
                <td class="beneficio">
                    <!--Elegir titulo beneficio 7-->
                </td>
                <td>
                    <!--Elegir SI O NO para beneficio 7 categoria 1-->
                </td>
                <td>
                    <!--Elegir SI O NO para beneficio 7 categoria 2-->
                </td>
                <td>
                    <!--Elegir SI O NO para beneficio 7 categoria 3-->
                </td>
            </tr>
            <tr>
                <td class="beneficio">
                    <!--Elegir titulo beneficio 8-->
                </td>
                <td>
                    <!--Elegir SI O NO para beneficio 8 categoria 1-->
                </td>
                <td>
                    <!--Elegir SI O NO para beneficio 8 categoria 2-->
                </td>
                <td>
                    <!--Elegir SI O NO para beneficio 8 categoria 3-->
                </td>
            </tr>
            <tr>
                <td class="beneficio">
                    <!--Elegir titulo beneficio 9-->
                </td>
                <td>
                    <!--Elegir SI O NO para beneficio 9 categoria 1-->
                </td>
                <td>
                    <!--Elegir SI O NO para beneficio 9 categoria 2-->
                </td>
                <td>
                    <!--Elegir SI O NO para beneficio 9 categoria 3-->
                </td>
            </tr>
            <tr>
                <td class="beneficio">
                    <!--Elegir titulo beneficio 10-->
                </td>
                <td>
                    <!--Elegir SI O NO para beneficio 10 categoria 1-->
                </td>
                <td>
                    <!--Elegir SI O NO para beneficio 10 categoria 2-->
                </td>
                <td>
                    <!--Elegir SI O NO para beneficio 10 categoria 3-->
                </td>
            </tr>
            <tr>
                <td class="beneficio">
                    <!--Elegir titulo beneficio 11-->
                </td>
                <td>
                    <!--Elegir SI O NO para beneficio 11 categoria 1-->
                </td>
                <td>
                    <!--Elegir SI O NO para beneficio 11 categoria 2-->
                </td>
                <td>
                    <!--Elegir SI O NO para beneficio 11 categoria 3-->
                </td>
            </tr>
            <tr>
                <td class="beneficio">
                    <!--Elegir titulo beneficio 12-->
                </td>
                <td>
                    <!--Elegir SI O NO para beneficio 12 categoria 1-->
                </td>
                <td>
                    <!--Elegir SI O NO para beneficio 12 categoria 2-->
                </td>
                <td>
                    <!--Elegir SI O NO para beneficio 12 categoria 3-->
                </td>
            </tr>
            <tr>
                <td class="beneficio">
                    <!--Elegir titulo beneficio 13-->
                </td>
                <td>
                    <!--Elegir SI O NO para beneficio 13 categoria 1-->
                </td>
                <td>
                    <!--Elegir SI O NO para beneficio 13 categoria 2-->
                </td>
                <td>
                    <!--Elegir SI O NO para beneficio 13 categoria 3-->
                </td>
            </tr>
            <tr>
                <td class="beneficio">
                    <!--Elegir titulo beneficio 14-->
                </td>
                <td>
                    <!--Elegir SI O NO para beneficio 14 categoria 1-->
                </td>
                <td>
                    <!--Elegir SI O NO para beneficio 14 categoria 2-->
                </td>
                <td>
                    <!--Elegir SI O NO para beneficio 14 categoria 3-->
                </td>
            </tr>
            <tr>
                <td class="beneficio">
                    <!--Elegir titulo beneficio 15-->
                </td>
                <td>
                    <!--Elegir SI O NO para beneficio 15 categoria 1-->
                </td>
                <td>
                    <!--Elegir SI O NO para beneficio 15 categoria 2-->
                </td>
                <td>
                    <!--Elegir SI O NO para beneficio 15 categoria 3-->
                </td>
            </tr>
            <tr>
                <td class="beneficio">
                    <!--Elegir titulo beneficio 16-->
                </td>
                <td>
                    <!--Elegir SI O NO para beneficio 16 categoria 1-->
                </td>
                <td>
                    <!--Elegir SI O NO para beneficio 16 categoria 2-->
                </td>
                <td>
                    <!--Elegir SI O NO para beneficio 16 categoria 3-->
                </td>
            </tr>
            <tr>
                <td class="beneficio">
                    <!--Elegir titulo beneficio 17-->
                </td>
                <td>
                    <!--Elegir SI O NO para beneficio 17 categoria 1-->
                </td>
                <td>
                    <!--Elegir SI O NO para beneficio 17 categoria 2-->
                </td>
                <td>
                    <!--Elegir SI O NO para beneficio 17 categoria 3-->
                </td>
            </tr>
            <tr>
                <td class="beneficio">
                    <!--Elegir titulo beneficio 18-->
                </td>
                <td>
                    <!--Elegir SI O NO para beneficio 18 categoria 1-->
                </td>
                <td>
                    <!--Elegir SI O NO para beneficio 18 categoria 2-->
                </td>
                <td>
                    <!--Elegir SI O NO para beneficio 18 categoria 3-->
                </td>
            </tr>
            <tr>
                <td class="beneficio">
                    <!--Elegir titulo beneficio 19-->
                </td>
                <td>
                    <!--Elegir SI O NO para beneficio 19 categoria 1-->
                </td>
                <td>
                    <!--Elegir SI O NO para beneficio 19 categoria 2-->
                </td>
                <td>
                    <!--Elegir SI O NO para beneficio 19 categoria 3-->
                </td>
            </tr>
            <tr>
                <td class="beneficio">
                    <!--Elegir titulo beneficio 20-->
                </td>
                <td>
                    <!--Elegir SI O NO para beneficio 20 categoria 1-->
                </td>
                <td>
                    <!--Elegir SI O NO para beneficio 20 categoria 2-->
                </td>
                <td>
                    <!--Elegir SI O NO para beneficio 20 categoria 3-->
                </td>
            </tr>
            <tr>
                <td class="beneficio">
                    <!--Elegir titulo beneficio 21-->
                </td>
                <td>
                    <!--Elegir SI O NO para beneficio 21 categoria 1-->
                </td>
                <td>
                    <!--Elegir SI O NO para beneficio 21 categoria 2-->
                </td>
                <td>
                    <!--Elegir SI O NO para beneficio 21 categoria 3-->
                </td>
            </tr>
            <tr>
                <td class="beneficio">
                    <!--Elegir titulo beneficio 22-->
                </td>
                <td>
                    <!--Elegir SI O NO para beneficio 22 categoria 1-->
                </td>
                <td>
                    <!--Elegir SI O NO para beneficio 22 categoria 2-->
                </td>
                <td>
                    <!--Elegir SI O NO para beneficio 22 categoria 3-->
                </td>
            </tr>
            <tr>
                <td class="beneficio">
                    <!--Elegir titulo beneficio 23-->
                </td>
                <td>
                    <!--Elegir SI O NO para beneficio 23 categoria 1-->
                </td>
                <td>
                    <!--Elegir SI O NO para beneficio 23 categoria 2-->
                </td>
                <td>
                    <!--Elegir SI O NO para beneficio 23 categoria 3-->
                </td>
            </tr>
            <tr>
                <td class="beneficio">
                    <!--Elegir titulo beneficio 24-->
                </td>
                <td>
                    <!--Elegir SI O NO para beneficio 24 categoria 1-->
                </td>
                <td>
                    <!--Elegir SI O NO para beneficio 24 categoria 2-->
                </td>
                <td>
                    <!--Elegir SI O NO para beneficio 24 categoria 3-->
                </td>
            </tr>
            <tr>
                <td class="beneficio">
                    Subscribirse
                </td>
                <td>
                    <form action="/carrito" method="get">
                        <button>
                            $<!--Elegir precio suscripción categoria 1-->
                        </button>
                    </form>
                </td>
                <td>
                    <form action="/carrito" method="get">
                        <button>
                            $<!--Elegir precio suscripción categoria 2-->
                        </button>
                    </form>
                </td>
                <td>
                    <form action="/carrito" method="get">
                        <button>
                            $<!--Elegir precio suscripción categoria 3-->
                        </button>
                    </form>
                </td>
            </tr>
        </table>
</section>