.contenedor{
    width: 98%;
    height: 300px;
    background-color: red;
    margin: 20px;
    display: flex;
}

.contenedor-producto{
    width: 60%;
    height: 300px;
    border: 5px solid rgb(100, 197, 149);
    flex-direction: row;
    background-color:rgb(38, 146, 235);
    display: flex;
    
     }
     .contenedor-producto-elegido{
         width: 400px; 
         height: 200px;
         background-color: rgb(100, 197, 149) ;
         position: relative;
         height: 100px;
         top: 90px;
     }
.contenedor-precios{
    width: 40%;
    height: 300px;
    border: 5px solid gray;
    background-color:rgb(38, 146, 235);
    text-decoration: silver;
    text-align: center;
}
.pago{
    width: 98%;
    height: 200px;
    background-color: rgb(100, 197, 149);
    margin: 20px;
    align-self: center;
    display: flex;
    flex-direction: row;
    padding: 4PX;
}
    .medios-de-pago{
        height: 190px;
        width: 900px;
        align-self: center;
        position: relative;
        left: 100px;
    }
    
    
    

.datos{
    width: 600px;
    height: 300px;
    background-color:gray;
    margin: 30px;
    align-self: center;
    display: flex;
    flex-direction: row;
}
.pago-descripcion{
    position: relative;
    right: 0px;
    left: ;
    
}
   
.datos-tarjeta{
    width: 60%;
    height: 300px;
    position: relative;
    left: 10px;
}
