* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif
}
.principal {
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: space-between;
}
.barraSuperior {
    display: flex;
    flex-direction: row;
    border: 2px solid black;
    border-radius: 0 0 20px 20px;
    height: 100px;
    align-items: center;
    align-content: flex-end;
    justify-content: center;
}
.barraSuperior a {
    font-family: 'Kaushan Script', Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: black;
}
.barraSuperior-logo {
    box-sizing: border-box;
    height: 100px;
    padding: 5px;
    
}
.barraSuperior-navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 70%;
}
.barraSuperior-navlist {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
    text-decoration: none;
}
.barraSuperior-navExtra-carrito {
    height: 40px;
    box-sizing: content-box;
    padding: 10px;
}
.barraSuperior-navExtra-carrito:hover {
    transform: scale(1.1);
}
.barraSuperior-navExtra {
    display: flex;
    flex-direction: row;
    width: 20%;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(100, 197, 149);
    border-radius: 0px 0px 20px 0px;
}
.barraSuperior-navExtra-usuario {
    display: flex;
    flex-direction: column;
}
.barraSuperior-navExtra-usuario-login, .barraSuperior-navExtra-usuario-registro {
    align-self: flex-start;
    align-self: center;
    padding: 5px;
}
.barraSuperior-navExtra-usuario-login:hover, .barraSuperior-navExtra-usuario-registro:hover {
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 5px 5px 50px 5px white;
    border-radius: 20px;
}
.barraSuperior-navlist-links a {
    text-decoration: none;
}
.barraSuperior-navlist-links:hover {
    background-color: rgba(100, 197, 149, 0.7);
    box-shadow: 5px 5px 20px 5px rgba(100, 197, 149, 0.7);
    border-radius: 20px;
}
    

/* Acá termina la barra superior de navegacion */

/* Banner */
.banner {
    display: flex;
    flex-direction: row;
    background-color: royalblue;
    justify-content: center;
    width: 100%;
    max-height: 250px;
    
}
.banner img {
    height: 300px;
    align-self: center;
    justify-self: center;
}
.banner img:hover {
    transform: scale(1.2);
}

/*Productos*/
.productosContenedor {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 15px;
    border: 1px solid red;
}
.productosContenedor-producto-1, .productosContenedor-producto-2 {
    text-align: center;
    margin: 20px;
    width: 40%;
    padding: 20px;
    border: 5px solid rgb(100, 197, 149);
    border-radius: 30px 0px 30px 0px;
}
.productosContenedor-producto-1:hover, .productosContenedor-producto-2:hover {
    border: 5px dotted rgb(40, 172, 106);
}
.productosContenedor img {
    justify-self: center;
    max-height: 150px;
    
}
.productosContenedor img:hover {
    cursor: pointer;
    transform: scale(1.05);
    animation-name: anime;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    -moz-animation-timing-function: ease-out;
    }
@keyframes anime {
    25% {
       transform: skew(10deg);
    }
    50% {
        transform: skew(-10deg);
    }
    75% {
        transform: skew(10deg);
    }
}
.productosContenedor h2 {
    font-family: 'Kaushan Script', Arial, Helvetica, sans-serif;
    margin: 20px;
}
.productosContenedor a {
    text-decoration: none;
}
.productosContenedor-verMas {
    margin: 10px;
    font-size: 18px;
    background-color: white;
    border: none;
    cursor: pointer;
    

}
.productosContenedor em {
    font-style: normal;
    font-weight: bolder;
    color: red;
}



/*Quienes somos*/
.nosotrosContenedor {
    border: 3px solid red;

    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    padding: 50px;
    margin-bottom: 20px;
}
.nosotrosContenedor h2 {
    font-family: 'Kaushan Script', Arial, Helvetica, sans-serif;
    font-size: 30px;
    align-self: center;
    margin-bottom: 15px;
}
.nosotrosContenedor-mision-vision {
    margin: 10px;
    line-height: 25px;
    text-align: center;
}
.nosotrosContenedor-historia {
    margin: 10px;
}
.nosotrosContenedor-apuntamos {
    margin: 10px;
}
.nosotrosContenedor-descripcion {
    margin: 10px;
}
.nosotrosContenedor button {
    width: 25%;
    padding: 10px;
    background-color: rgb(100, 197, 149);
    border: 1px solid rgb(100, 197, 149);
    font-family: 'Kaushan Script', Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
    border-radius: 20px;
    align-self: flex-end;
    position: relative;
    top: 30px;
    left: 30px;

}
.nosotrosContenedor button:hover {
    background-color: rgb(40, 172, 106);
}

/*Footer*/

.piePagina {
    background-color: rgb(100, 197, 149);
    display: flex;
    flex-direction: column;
    height: 150px;

}
.piePagina-redesSociales {
    align-self: center;
    display: block;
}
.piePagina-redesSociales img {
    justify-content: center;
    padding: 20px;
    width: 70px;
}
.piePagina-contacto {
    width: 100%;
    background-color: white;
    border-radius: 35%;
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.piePagina-contacto a {
    text-align: center;
    line-height: 25px;
    text-decoration: none;
}
.piePagina-copyright {
    font-size: 16px;
    align-self: center;
}
.piePagina-copyright em {
    font-family: 'Kaushan Script', Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-style: normal;
    margin: 0px 5px;

}

/*Media querys - completar */
@media (max-width: 500px) {
    .barraSuperior-navlist {
        display: none;
    }
    .barraSuperior-navExtra-usuario {
        display: none;
    }
    .barraSuperior-navExtra {
        border-radius: 50%;
        background-color: rgba(100, 197, 149, 0.6);
        box-shadow: 0px 0px 20px 0px rgba(100, 197, 149, 0.7);
    }
    .productosContenedor {
        margin: 30px;
    }
    .productosContenedor-producto-1, .productosContenedor-producto-2 {
        width: 60%;
    }
    
}