* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
body {
    z-index: -2;
}

/*BANNER EMPEZÁ*/

.bannerEmpezá {
    background-image: url(/public/images/fondo-verde-tec.jpg);
    background-size: cover;
    margin: 5% 0%;
}

.bannerEmpezá-article {
    display: flex; 
    flex-direction: column;
    margin: 10% auto;
    width: 85%;
    z-index: 1;
    box-shadow: 10px 10px 37px #000;
}

.bannerEmpezá-article-titulo {
    font-family: 'Kaushan Script', Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    text-align: center;
    padding: 5% 2% 0% 2%;
    color: white;
    text-shadow: 10px 10px 15px #000;
}

.bannerEmpezá-article form{
    margin: 5% auto;
    background-color: none;
    margin: 5% auto;
}

.bannerEmpezá-article button {
    cursor: pointer;
    background: none;
    color: white;
    text-transform: uppercase;
    text-decoration: underline;
    text-shadow: 10px 10px 15px #000;
    border: none;
}

.bannerEmpezá-article button:hover {
    font-style: italic;
}
@media (min-width:501px) {
    .bannerEmpezá-article-titulo {
        font-size: 1.7em;
    }
    .bannerEmpezá-article button {
        font-size: 1em;
    }
}
@media (min-width: 710px) {
    .bannerEmpezá-article-titulo {
        font-size: 2.2em;
    }
    .bannerEmpezá-article button {
        font-size: 1.25em;
    }
}
@media (min-width: 920px) {
    .bannerEmpezá-article-titulo {
        font-size: 2.7em;
    }
    .bannerEmpezá-article button {
        font-size: 1.5em;
    }
}
@media (min-width: 1129px) {
    .bannerEmpezá-article-titulo {
        font-size: 3.2em;
    }
    .bannerEmpezá-article button {
        font-size: 1.75em;
    }
}
/*END BANNER EMPEZÁ*/

/*DISEÑO FONDO BLANCO*/

.disenoBlanco {
    margin: auto;
    padding: 2%;
}
.disenoBlanco-titulo {
    font-family: 'Kaushan Script', Arial, Helvetica, sans-serif;
    font-size: 2em;
    text-align: center;
    margin-bottom: 3%;
}
.disenoBlanco-parrafo {
    font-size: 1em;
    text-align: center;
    padding: 0% 2%;
}
.disenoBlanco-form {
    width: 100%;
    margin: 2% auto;
}
.disenoBlanco-form button {
    font-size: 1em;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: underline;
    background-color: white;
    border: none;
    width: 100%;
    padding: auto;
}
.disenoBlanco-parrafo form button:hover {
    font-style: italic;
}
@media (min-width: 570px) {
    .disenoBlanco {
        display: flex;
        flex-wrap: wrap;
    }
    .disenoBlanco-titulo {
        width: 50%;
        border-right: 1px solid black;
        padding: 0% 5%;
    }
    .disenoBlanco-parrafo {
        width: 50%;
    }
    .disenoBlanco-form button {
        background-color: white;
        color: black;
    }
}

/*END DISEÑOIFONDO BLANCO*/

/*DISEÑO FONDO AZUL*/

.disenoAzul {
    background-color: rgb(38, 146, 235);
    padding: 2%;
}
.disenoAzul-titulo {
    font-family: 'Kaushan Script', Arial, Helvetica, sans-serif;
    font-size: 2em;
    text-align: center;
    margin-bottom: 5%;
    color: white;
}
.disenoAzul-parrafo {
    font-size: 1em;
    text-align: center;
    padding: 0% 2%;
    margin-bottom: 3%;
    color: white;
}
.disenoAzul-form {
    width: 100%;
    padding: 2%;
}
.disenoAzul-form button {
    font-size: 1em;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: underline;
    border: none;
    background-color: rgb(38, 146, 235);
    color: white;
    width: 100%;
    padding: auto;
}
.disenoAzul-form button:hover {
    font-style: italic;
}
@media (min-width: 570px) {
    .disenoAzul {
        display: flex;
        flex-wrap: wrap;
    }
    .disenoAzul-titulo {
        width: 50%;
        border-right: 1px solid white;
        padding: 2%;
    }
    .disenoAzul-parrafo {
        width: 50%;
        padding: 2%;
    }
    .disenoAzul-form button {
        color: white;
    }
}

/*END DISEÑO FONDO AZUL*/


/*SECCION PRESENCIA ONLINE*/

.presenciaOnline {
    background-color: rgb(38, 146, 235);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2%;
}
.presenciaOnline-articlePrincipal {
    width: 90%;
    border-bottom: 1px solid white;
    padding-bottom: 2%;
}
.presenciaOnline-articlePrincipal h2 {
    color: white;
    font-family: 'Kaushan Script', Arial, Helvetica, sans-serif;
    margin-bottom: 5%;
    text-align: center;
}
.presenciaOnline-articlePrincipal p {
    color: white;
    text-align: center;
}
.presenciaOnline-article {
    width: 90%;
    border-bottom: 1px solid white;
    padding: 10% 0%;
}

.presenciaOnline-article h3 {
    color: white;
    font-family: 'Kaushan Script', Arial, Helvetica, sans-serif;
    margin-bottom: 5%;
    text-align: center;
}

.presenciaOnline-article p {
    color: white;
    text-align: center;
}

.presenciaOnline-form {
    margin: 2%;
} 

.presenciaOnline-form button {
    background-color: rgb(38, 146, 235);
    color: white;
    font-weight: bold;
    text-decoration: underline;
    text-transform: uppercase;
    border: none;
}

.presenciaOnline-form button:hover {
    font-style: italic;
}
@media (min-width: 570px) {
    .presenciaOnline-articlePrincipal {
        width: 100%;
    }
    .presenciaOnline-articlePrincipal h2 {
        font-size: 2.5em;
    }
    .presenciaOnline-articlePrincipal p {
        font-size: 1.5em;
    }
    .presenciaOnline-article {
        width: 50%;
        padding: 3%;
    }
}
@media (min-width: 1179px) {
    .presenciaOnline-articlePrincipal h2 {
        font-size: 3.5em;
    }
    .presenciaOnline-articlePrincipal p {
        font-size: 2.5em;
    }
    .presenciaOnline-article {
        width: 25%;
        padding: 3%;
    }
}
/*END SECCION PRESENCIA ONLINE*/

/*BANNER RESPONSIVE DESIGN*/

.banner-versiones {
    background-color: rgb(100, 197, 149);
    width: 100%;
    align-self: center;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: auto;
    padding: 2%;
}
.banner-versiones-contenedorImagenResponsive {
    position: relative;
    transition: 1s;
}
.banner-versiones-contenedorImagenResponsive:hover {
    transform: rotate(360deg);
}
.imagen-escritorio {
    max-width: 100%;
    align-self: center;   
}
.imagen-mobile {
    max-width: 20%;
    z-index: 1;
    align-self: flex-end;
    position: absolute;
    right: 0%;
    bottom: 0%;
}
.banner-versiones strong h3 {
    font-family: 'Kaushan Script', Arial, Helvetica, sans-serif;
    font-size: 1em;
    text-align: center;
    color: white;
    margin-top: 3%;
    text-decoration: underline;
    text-transform: uppercase;
    animation-name: parpadeo;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes parpadeo {  
    0% { opacity: 1.0;}
    50% { opacity: 0.5; }
    100% { opacity: 1.0;}
  }
  @media (min-width: 1179px) {
      .banner-versiones {
          margin: auto;
          width: 100%;
      }
      .banner-versiones-contenedorImagenResponsive {
        width: 65%;
        margin: auto;
    }
  }
/*END BANNER RESPONSIVE DESIGN*/

/*BANNER DE DESCUENTO*/

.banner-descuento {
    background-image: url("/public/images/fondo-banner-descuento-4.jpg");
    background-size: 100%;
}
.banner-descuento a {
    text-decoration: none;
    color: black;
    display: flex;
    text-align: left;
}
.banner-descuento a:hover {
    border: 3px solid black;
    text-shadow: 2px 2px 3px black; 
}
.imagen-descuento {
    width: 25%;
}
.texto-descuento {
    padding: 0% 5%;
    align-self: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    color: white;
    padding: 2%;
}
@media (min-width: 570px) {
    .texto-descuento {
        font-size: 1.5em;
    }
    .banner-descuento {
        margin: 0%;
    }
}
@media (min-width: 1179px) {
    .texto-descuento {
        font-size: 2em;
    }
    .banner-descuento {
        margin: 0%;
    }
}
/*END BANNER DESCUENTO*/

/*PRODUCTOS*/

.productos {
    background-color: rgb(100, 197, 149);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    padding-top: 2%;
}
.productos h2 {
    font-family: 'Kaushan Script', Arial, Helvetica, sans-serif;
    text-align: center;
    text-transform: uppercase;
    width: 95%;
    margin-bottom: 5%;
    align-self: center;
}
.contenedor-productos {
    display: flex;
    width: 90%;
    justify-content: space-around;
    align-self: center;
    margin: 5% 0;
}
.contratar {
    background-color: rgb(38, 146, 235);
    color: white;
    border: 3px solid black;
    border-radius: 10px;
    align-self: flex-end;
    box-shadow: 7px 13px 37px #000;
}
.contratar:hover {
    border: 5px solid black;
    cursor: pointer;
    box-shadow: 10px 16px 37px #000;
}
.productos-articulo {
    align-self: center;
    display: flex;
    flex-direction: column;
}
.productos-img {
    width: 50%;
    align-self: center;
    margin-top: 10%;
}
.productos-img:hover { 
    transform: scale(1.05);
    animation-name: anime;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    -moz-animation-timing-function: ease-out;
}
@keyframes anime {
25% {
        transform: skew(10deg);
    }
50% {
        transform: skew(-10deg);
    }
75% {
        transform: skew(10deg);
    }
}
.medalla {
    width: 15%;
    align-self: center;
    margin-bottom: 3%;
}
.productos-articulo h3 {
    text-align: center;
    font-family: 'Kaushan Script', Arial, Helvetica, sans-serif;
    font-weight: 300;
    margin-bottom: 10%;
    color: black;
}
.tituloSuscripcionOro {
    background-color: gold;
    width: 100%;
}
.tituloSuscripcionPlata {
    background-color: silver;
    width: 100%;
}
.tituloSuscripcionBronce {
    background-color: rgb(155, 108, 65);
    width: 100%;
}
.productos-articulo ul {
    list-style: none;
    text-align: center;
    padding: 1%;
    margin-bottom: 10%;
}
.productos-articulo ul li {
    text-align: center;
    border-top: green solid 1px;
    margin: 1% 0;
}
.productos-articulo span {
    color: white;
    text-align: center;
    color: black;
    padding: 2%;
}
@media (min-width: 767px) {
    .contenedor-productos {
        width: 50%;
    }
    .productos-articulo {
        height: max-content;
    }
}
@media (min-width: 650px) {
    .productos {
        flex-direction: row;
    }
    .productos-img {
        justify-content: center;
    }
    .contenedor-productos {
        width: 25%;
    }
    .productos-articulo {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
}
/*END PRODUCTOS*/