* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/*BANNER RESPONSIVE DESIGN*/

.banner-versiones {
    background-color: white;
    width: 80%;
    align-self: center;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 5%;
}
.imagen-escritorio {
    max-width: 80%;
    align-self: center;
    
}
.imagen-mobile {
    max-width: 20%;
    z-index: 1;
    align-self: flex-end;
    position: absolute;
    top: 38%;
    right: 12%;
}


/*END BANNER RESPONSIVE DESIGN*/

/*BANNER DE DESCUENTO*/

.banner-descuento {
    margin: 10% 0% 5% 0%;
    background-image: url("/public/images/fondo-banner-descuento-4.jpg");
    background-size: 100%;
}
.banner-descuento a {
    text-decoration: none;
    color: black;
    display: flex;
    text-align: justify;
}
.banner-descuento a:hover {
    border: 3px solid black;
    text-shadow: 2px 2px 3px black; 
}
.imagen-descuento {
    width: 25%;
}
.texto-descuento {
    padding: 0% 5%;
    align-self: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
    color: white;

}
@media (max-width: 768px) {
    .texto-descuento {
        font-size: 24px;
    }
}
@media (max-width: 425px) {
    .texto-descuento {
        font-size: 18px;
    }
}
@media (max-width: 425px) {
    .texto-descuento {
        font-size: 12px;
    }
}
/*END BANNER DESCUENTO*/

/*PRODUCTOS*/

.productos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 10% 0;
    position: relative;
}
.productos h2 {
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    bottom: 108%;
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
}
.contenedor-productos {
    width: 25%;
    display: flex;
}
.contratar {
    background-color: rgb(38, 146, 235);
    color: white;
    border: 3px solid black;
    border-radius: 10px;
    align-self: flex-end;
}
.contratar:hover {
    border: 5px solid black;
}
.productos-articulo {
    align-self: center;
    display: flex;
    flex-direction: column;
}
.productos-logo {
    width: 50%;
    align-self: center;
    margin-top: 10%;
}
.medalla {
    width: 15%;
    align-self: center;
    margin-bottom: 3%;
}
.productos-articulo h3 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    margin-bottom: 10%;
    color: black;
}
.tituloSuscripcionOro {
    background-color: gold;
}
.tituloSuscripcionPlata {
    background-color: silver;
}
.tituloSuscripcionBronce {
    background-color: rgb(155, 108, 65);
}
.productos-articulo ul {
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding: 1%;
    margin-bottom: 10%;
}
.productos-articulo ul li {
    text-align: center;
    border-top: green solid 1px;
    margin: 1% 0;
    font-family: 'Montserrat', sans-serif;
}
.productos-articulo span {
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: black;
}
@media (max-width: 550px) {
    .productos {
        flex-direction: column;
    }
    .productos h2 {
        bottom: 100%;
        font-size: large;
        align-self: center;
        width: 90%;
    }
    .contenedor-productos {
        width: 90%;
        flex-direction: row;
        justify-content: space-around;
        align-self: center;
        margin: 5% 0;
    }
    .productos-articulo {
        flex-direction: column;
        margin: 0%;
        align-self: flex-end;
    }
}
@media (max-width: 375px) {
    .productos h2 {
        font-size: medium;
        align-self: center;
    }
}
@media (max-width: 325px) {
    .productos h2 {
        bottom: 99.5%;
    }
}
/*END PRODUCTOS*/
