<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/head') %>
</head>

<%- include('../partials/navbar') %>

<h1>Creación y edición de productos</h1>
<br>
<br>


<h3>6. Página: creación y edición de productos</h3>
<br>
    <p>Formulario al que accede el usuario administrador para cargar nuevos productos y editar los existentes.</p>
    <p>Un buen punto de partida para los campos de estos formularios puede ser el siguiente:</p>
    <ul>
        <li>Nombre del producto (name)</li> <!--Texto-->
        <li>Descripción (description)</li> <!--Texto-->
        <li>Imagen (image)</li> <!--File-->
        <li>Categoría (category)</li> <!--Menu desplegable-->
        <li>Precio (price)</li> <!--number-->
        <li>Beneficios (benefits)
            <ul>
                <li>Plan SEO para posicionarte mejor en Google</li> <!--Checkbox-->
                <li>Dominio Web con el nombre de tu marca</li> <!--Checkbox-->
                <li>Carrito de compras</li> <!--Checkbox-->
                <li>Servicio de Inteligencia de diseño artificial (IDA)</li> <!--Checkbox-->
                <li>Atención personalizada de nuestro equipo de marketing</li> <!--Checkbox-->
                <li>Creador de logos profesional</li> <!--Checkbox-->
                <li>Servicio web Corvid para aplicaciones web</li> <!--Checkbox-->
                <li>Acceso a todas nuestras plantillas y accesorios de diseño web</li> <!--Checkbox-->
                <li>Herramientas para diseño adaptativo</li> <!--Checkbox-->
                <li>Hosting gratuito</li> <!--Checkbox-->
                <li>Cantidad de secciones de la página (sections)</li> <!--Menu desplegable-->
                <li>Beneficio extra: </li> <!--Texto-->
            </ul>
        </li>
    </ul>

    <h4>Historias de usuario</h4>
    <ul>
        <li> ★ Como administrador quiero poder crear nuevos productos para agregarlos a los listados del sitio.</li>
        <li> ★ Cómo administrador quiero poder modificar los productos existentes para corregir información o actualizar precios.
            Entregable: páginas de creación y edición de productos en formato ejs junto con todos los recursos necesarios, estilos de css e imágenes.</li>

    </ul>
    <br>
    <br>
<h5 style="color: red;">Esto es lo que dice la guia del Sprint-3. La puse acá solo para dar contenido y tener la consigna a mano. Habria que ajustar ciertos items por otros que se apliquen mas a nuestro caso. Ej: color, no tienen nuestros productos, podria ser, cantidad de secciones en la pagina web o tienda web que se está adquiriendo.</h5>



<%- include('../partials/footer') %>