<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="stylesheet" href="/stylesheets/listado-productos-style.css">
    <%- include('../partials/head') %>
</head>

<%- include('../partials/navbar') %>


<table class="tabla-productos">
    <thead class=tabla-productos-titulos>
        <tr>
            <td><h1>Listado de productos:</h1></td>
            <td><h2>Tienda Web</h2></td>
            <td><h2>Página Web</h2></td>
        </tr>
    </thead>
    <tbody class=tabla-productos-cuerpo>
      <tr>
        <td><h3>Plan Oro</h3><img class="medalla" src="/images/plan-oro.png" alt="imagen de una medalla de oro"></td>
        <td>
          <ul>
            <li>Integración con medios de pago y envío</li>
            <li>Diseños personalizables, hosting y dominio propio</li>
            <li>Aplicación de Tu Tienda Web para Android e iOS</li>
            <li>Diseño 100% flexible (via HTML, CSS y JavaScript)</li>
            <li>Múltiples idiomas y monedas</li>
            <li>Integración con MercadoLibre y Amazon</li>
          </ul>
        </td>
        <td>
          <ul>
          <li>Dominio Web con el nombre de tu marca</li>
          <li>Atención personalizada de nuestro equipo de marketing</li>
          <li>Plan SEO para posicionarte mejor en Google</li>
          <li>Carrito de compras</li>
          <li>Todo lo que incluyen los planes anteriores</li>
          </ul>
        </td>
      </tr>
      <tr>
        <td><h3>Plan Plata</h3><img class="medalla" src="/images/plan-plata.png" alt="imagen de una medalla de plata"></td>
        <td>
          <ul>
            <li>Integración con medios de pago y envío</li>
            <li>Diseños personalizables, hosting y dominio propio</li>
            <li>Aplicación de Tu Tienda Web para Android e iOS</li>
            <li>Soporte via email</li>
            <li>Diseño 100% flexible (via HTML, CSS y JavaScript)</li>
            <li>Soporte vía Whatsapp a partir del primer pago</li>
          </ul>
        </td>
        <td>
          <ul>
          <li>Servicio de Inteligencia de diseño artificial (IDA)</li>
          <li>Servicio web Corvid para aplicaciones web</li>
          <li>Creador de logos profesional</li>
          <li>Todo lo que incluyen las suscripciones anteriores</li>
          </ul>
        </td>
      </tr>
      <tr>
        <td><h3>Plan Bronce</h3><img class="medalla" src="/images/plan-bronce.png" alt="imagen de una medalla de bronce"></td>
        <td>
          <ul>
            <li>Integración con medios de pago y envío</li>
            <li>Diseños personalizables, hosting y dominio propio</li>
            <li>Aplicación de Tu Tienda Web para Android e iOS</li>
            <li>Soporte via email</li>
            <li>Cupones de descuento y promociónes 2x1 y 3x2</li>
            <li>Estadísticas avanzadas de tu negocio</li>
          </ul>
        </td>
        <td>
          <ul>
          <li>Acceso a todas nuestras plantillas y accesorios de diseño web</li>
          <li>Herramientas para diseño adaptativo</li>
          <li>Hosting gratuito</li>
        </ul>
      </td>
      </tr>
    </tbody>
</table>





<%- include('../partials/footer') %>