<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="stylesheet" href="/stylesheets/listado-productos-style.css">
    <%- include('../partials/head') %>
</head>

<%- include('../partials/navbar') %>


<table class="tabla-productos">
    <thead class=tabla-productos-titulos>
        <tr>
            <td><h1>Listado de productos:</h1></td>
            <td><h2>Tienda Web</h2></td>
            <td><h2>Página Web</h2></td>
        </tr>
    </thead>
    <tbody class=tabla-productos-cuerpo>
      <tr>
        <td><h3>Plan Oro</h3></td>
        <td>-</td>
        <td>-</td>
      </tr>
      <tr>
        <td><h3>Plan Plata</h3></td>
        <td>-</td>
        <td>-</td>
      </tr>
      <tr>
        <td><h3>Plan Bronce</h3></td>
        <td>-</td>
        <td>-</td>
      </tr>
    </tbody>
</table>





<%- include('../partials/footer') %>