<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/head') %>
</head>

<%- include('../partials/navbar') %>

<h1>Listado de productos</h1>
<br>
<br>
<br>
<br>
<br>





<%- include('../partials/footer') %>