<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="stylesheet" href="/stylesheets/users-style.css">
    <%- include('../partials/head') %>
</head>

<%- include('../partials/navbar') %>

<form class="form-registro" action="/users/create" method="POST" enctype="multipart/form-data">
<h5> Registrate </h5>
<input class="controls" type="text" name="firstName" value="" placeholder="Nombre">
<input class="controls" type="text" name="lastName" value="" placeholder="Apellido">
<input class="controls" type="email" name="email" value="" placeholder="Email">
<input class="controls" type="password" name="password" value="" placeholder="Contraseña">
<input class="controls" type="password" name="password" value="" placeholder="Repetir Contraseña">
<label for="image">¡Sube tu foto de perfíl o avatar!</label>
<input class="controls" type="file" name="image">
<input class="buttons" type="submit"  value="Registrarse" >
<div class="form-oauth">
    <div class="form-oauth-titulo">Registro rápido con:</div>
    <div class="form-oauth-iconos">
        <a href="#"><img src="/icons/social-media/google.png"></a>
        <a href="#"><img src="/icons/social-media/facebook.png"></a>
    </div>
    </div>
</form>

<%- include('../partials/footer') %>